h2 Déclaration CNIL
p Conformément à la loi N°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, la société Shuttle Coder a fait l'objet d'une déclaration auprès de la CNIL sous le numéro d’enregistrement …
