.row
	.col-md-8.col-md-push-2
		.esc-heading.heading-line-bottom.lr-line.left-heading
			h4 Editeur
		p Shuttle Coder SAS au capital de 15 000 € ayant son siège social au …, immatriculée sous le numéro … au RCS de ….
