section(id="features" class="bg-silver-deep")
	.container.pb-50
		.section-title.mb-40
			.row
				.separator
					span.font-25.mb-5 Codez the startup way
			.row
				.col-xs-12.col-sm-6.col-md-4.mb-30
					.feature-box.text-center.p-30.pb-20
						.feature-icon
							img(src="images/icons/1.png" alt="")
						.feature-title
							h5 Développeur d'application mobile iOS
							<p>Maitrisez Swift, le language de programmation d'Apple. Utiliser les fameworks Apple tels que ARkit pour la réalité augmentée et CoreML pour le machine learning.</p>
				.col-xs-12.col-sm-6.col-md-4.mb-30
					.feature-box.text-center.p-30.pb-20
						.feature-icon
							img(src="images/icons/2.png" alt="")
						.feature-title
							h5 Apprendre avec les bonnes pratiques
							<p>De l'écriture des user stories au design de vos apps, vous aurez les méthodes et entrainements pour travailler et collaborer en équipe.</p>
				.col-xs-12.col-sm-6.col-md-4.mb-30
					.feature-box.text-center.p-30.pb-20
						.feature-icon
							img(src="images/icons/3.png" alt="")
						.feature-title
							h5 Passer en mode Startup
							<p>Pas besoin de réinventer la roue, vous apprendrez comment gagner du temps en utilisant les solutions telles que Stripe, MailChimp… et sortir votre prototype d'application rapidement.</p>
				.col-xs-12.col-sm-6.col-md-4.mb-30
					.feature-box.text-center.p-30.pb-20
						.feature-icon
							img(src="images/icons/4.png" alt="")
						.feature-title
							h5 Bienvenue aux nouveaux apprenants
							<p>Vous n'avez jamais ou peu programmé ? Vous allez apprendre dans des conditions idéales. Il vous suffit de disposer d'un Mac et d'être mmotivé.</p>
				.col-xs-12.col-sm-6.col-md-4.mb-30
					.feature-box.text-center.p-30.pb-20
						.feature-icon
							img(src="images/icons/5.png" alt="")
						.feature-title
							h5 Maximisez votre impact
							<p>Créez un avenir extraordinaire que vous aimez dans n'importe quel domaine, du transport au commerce en passant par les soins de santé et le gouvernement. Développez vos opportunités. Dépasser vos attentes </p>
				.col-xs-12.col-sm-6.col-md-4.mb-30
					.feature-box.text-center.p-30.pb-20
						.feature-icon
							img(src="images/icons/6.png" alt="")
						.feature-title
							h5 Place au recrutement
							<p>De nouvelles opportunités de carrière. Chaque année de nombreux postes de développeur d'application mobile iOS sont à pourvoir, saisssez votre chance!</p>
