section(id="features" class="bg-silver-deep")
	.container.pb-50
		.section-title.mb-40
			.row
				.separator
					span.font-25.mb-5 Codez the startup way
			.row
				.col-xs-12.col-sm-6.col-md-4.mb-30
					.feature-box.text-center.p-30.pb-20
						.feature-icon
							img(src="images/icons/1.png" alt="")
						.feature-title
							h5 Codez votre produit
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quia quos a beatae ratione possimus, accusantium!</p>
				.col-xs-12.col-sm-6.col-md-4.mb-30
					.feature-box.text-center.p-30.pb-20
						.feature-icon
							img(src="images/icons/2.png" alt="")
						.feature-title
							h5 Développeur d'application mobile
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quia quos a beatae ratione possimus, accusantium!</p>
				.col-xs-12.col-sm-6.col-md-4.mb-30
					.feature-box.text-center.p-30.pb-20
						.feature-icon
							img(src="images/icons/3.png" alt="")
						.feature-title
							h5 Be Industrial Leader
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quia quos a beatae ratione possimus, accusantium!</p>
				.col-xs-12.col-sm-6.col-md-4.mb-30
					.feature-box.text-center.p-30.pb-20
						.feature-icon
							img(src="images/icons/4.png" alt="")
						.feature-title
							h5 Be Industrial Leader
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quia quos a beatae ratione possimus, accusantium!</p>
				.col-xs-12.col-sm-6.col-md-4.mb-30
					.feature-box.text-center.p-30.pb-20
						.feature-icon
							img(src="images/icons/5.png" alt="")
						.feature-title
							h5 Be Industrial Leader
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quia quos a beatae ratione possimus, accusantium!</p>
				.col-xs-12.col-sm-6.col-md-4.mb-30
					.feature-box.text-center.p-30.pb-20
						.feature-icon
							img(src="images/icons/6.png" alt="")
						.feature-title
							h5 Be Industrial Leader
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quia quos a beatae ratione possimus, accusantium!</p>
