<section class="slide fade-6 kenBurns whiteSlide">
	<div class="content">
		<div class="container">
			<div class="wrap">

				<div class="fix-8-12 toCenter">
					<p class="ae-2"><span class="opacity-8">Imaginez et créez votre avenir</span></p>
				</div>
				<div class="fix-12-12 margin-top-5">
					<ul class="flex grid-48 later equal">
						<li class="col-3-12">
							<div class="fix-3-12">
								<img width="64" class="avatar-41 ae-3 fromCenter margin-bottom-1" src="https://res.cloudinary.com/shuttlecoder/image/upload/c_scale,w_64/v1538672962/ShuttleCoder/Icons/career-choice.png"/>
								<h3 class="equalElement ae-6">Bienvenue aux nouveaux apprenants</h3>
								<div class="ae-7"><p class="tiny opacity-6">Vous n'avez jamais ou peu programmé ? Vous allez apprendre dans des conditions idéales, depuis les fondamentaux jusqu'à devenir un héro du code. Il vous suffit d'être motivé.</p></div>
							</div>
						</li>
						<li class="col-3-12">
							<div class="fix-3-12">
								<img width="64" class="avatar-41 ae-3 fromCenter margin-bottom-1" src="https://res.cloudinary.com/shuttlecoder/image/upload/c_scale,w_64/v1538672962/ShuttleCoder/Icons/code-learning.png"/>
								<h3 class="equalElement ae-7">Apprenez le code</h3>
								<div class="ae-8"><p class="tiny opacity-6">Découvrez les secrets pour devenir un développeur rapide et efficace en créant des projets en Swift. Utiliser les fameworks Apple tels que ARkit pour la réalité augmentée et CoreML pour le machine learning.</p></div>
							</div>
						</li>
						<li class="col-3-12">
							<div class="fix-3-12">
								<img width="64" class="avatar-41 ae-3 fromCenter margin-bottom-1" src="https://res.cloudinary.com/shuttlecoder/image/upload/c_scale,w_64/v1538672962/ShuttleCoder/Icons/learning-tools.png"/>
								<h3 class="equalElement ae-8">Créez des applications</h3>
								<div class="ae-9"><p class="tiny opacity-6">Apprenez à créer des applications pour iPhone, iPad et Apple Watch. Découvrez le langage de progammation, les outils et les process nécessaires pour être plus efficace et sortir vos applications.</p></div>
							</div>
						</li>
						<li class="col-3-12">
							<div class="fix-3-12">
								<img width="64" class="avatar-41 ae-3 fromCenter margin-bottom-1" src="https://res.cloudinary.com/shuttlecoder/image/upload/c_scale,r_30,w_64/v1538672962/ShuttleCoder/Icons/adventure.png"/>
								<h3 class="equalElement ae-8">Devenez un entrepreneur</h3>
								<div class="ae-9"><p class="tiny opacity-6">Découvrez comment transformer vos nouvelles compétences acquises en une carrière à long terme. Vous apprendrez à sortir votre prototype d'application rapidement, à marketer votre app et plus encore!</p></div>
							</div>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
	<div class="background"></div>
</section>
