<section class="slide fade-6 kenBurns whiteSlide">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-10-12 toCenter">
          <h1 class="ae-1">Ateliers <span>Workshops</span></h1>
          <p class="fix-9-12 ae-2"><span class="opacity-8">Nos ateliers pour se perfectionner</span></p>
        </div>
        <div class="fix-12-12">
          <ul class="grid grid-77 later equal left">
            <li class="col-4-12">
              <a href="#" class="box-77 ae-3">
                <div class="thumbnail-77">
                  <img src="assets/img/gallery-77-1.jpg" alt="Picture" class="wide"/>
                </div>
                <div class="details-77 equalElement">
                  <div class="table wide">
                    <div class="cell">
                      <h3>Créez votre première app iOS</h3>
                      <p class="tiny opacity-6 cropBottom">Without music, life would be a mistake.</p>
                      <div class="author-77">
                        <img width="30" class="avatar-77" src="assets/img/avatar-77-1.jpg" alt="Avatar">
                        <p class="tiny cropBottom">Paul Rand</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/img/background/img-77.jpg)"></div>
</section>
