section.bg-white-f7
	.container.pb-0
		.section-title
			.row
				.col-md-8.col-md-offset-2
					.text-center
						h5.sub-title Sub Title Here
						h2.title Shuttle Coder Academy, c'est quoi?
						p Nous aidons les entrepreneurs à transformer leur passion en une entreprise prospère.
section(id="features" class="bg-silver-deep")
	.container.pb-50
		.section-title
			.row
				.col-xs-12.col-sm-6.col-md-4.mb-30
					.feature-box.bg-silver-light.p-30.pb-20
						.feature-title
							h4.text-center.text-uppercase Le blog
							<p>Le blog de Shuttle Coder est une mine d'or a gold mine rempli de didacticiels pas à pas et de tutoriels. Je partage 2-3 nouveaux messages chaque semaine, tous conçus pour vous aider à vous lancer et progresser dans la programmation. <a class="text-theme-colored2" href="//blog.shuttlecoder.academy">Vérifiez-le…</a></p>
				.col-xs-12.col-sm-6.col-md-4.mb-30
					.feature-box.bg-silver-light.p-30.pb-20
						.feature-title
							h4.text-center.text-uppercase Les formations
							<p>La formation est l'un de nos aspects préférés de Shuttle Coder. Bien que j'aime écrire et concevoir, les cours nous permettent d'approfondir des sujets tels que la réalité augmentée, l'intégration continue et les outils développeur comme Xcode. <a class="text-theme-colored2" href="./nos-formations.html">Jetez y un oeil…</a></p>
				.col-xs-12.col-sm-6.col-md-4.mb-30
					.feature-box.bg-silver-light.p-30.pb-20
						.feature-title
							h4.text-center.text-uppercase La newsletter
							<p>Une fois par semaine, nous envoyons un e-mail contenant un conseil, une idée ou une astuce pour les programmeurs motivés. Pensez-y comme un blog exclusif Shuttle Coder dans votre boîte de réception chaque semaine. <a class="text-theme-colored2" href="./newsletter.html">Inscrivez-vous…</a></p>
				.col-xs-12.col-sm-6.col-md-4.mb-30
					.feature-box.bg-silver-light.p-30.pb-20
						.feature-title
							h4.text-center.text-uppercase The Library
							<p>Ne serait-il pas génial d'avoir un accès instantané à des livrets de conseils, des modèles de cartes de user stories personnalisables, des boards scrum et kanban, et même un journal imprimable pour progresser? Nous le pensions aussi, alors nous avons créé The Library. <a class="text-theme-colored2" href="./library.html">En apprendre plus…</a></p>
				.col-xs-12.col-sm-6.col-md-4.mb-30
					.feature-box.bg-silver-light.p-30.pb-20
						.feature-title
							h4.text-center.text-uppercase CodersChats
							<p>En tant que développeur, vous ne serez pas seul. Ces webinaires hebdomadaires informels - Shuttle Coder Academy - abordent des sujets pertinents au sein de notre industrie et regorgent de conseils pratiques pour votre carrière. <a class="text-theme-colored2" href="./coderschats.html">Participez à un coderchat…</a></p>
				.col-xs-12.col-sm-6.col-md-4.mb-30
					.feature-box.bg-silver-light.p-30.pb-20
						.feature-title
							h4.text-center.text-uppercase Coaching
							<p>Recruter un coach est une des meilleures solutions pour progresser. Avoir un développeur expérimenté pour vous guider et vous aider à fixer des objectifs est crucial pour réussir vos projets et vous perfectionner. <a class="text-theme-colored2" href="./coaching.html">Regardez notre forfait de coaching…</a></p>
