include ../mixins/_navigation.pug

header(id="header" class="header header-floating header-floating-text-dark")
	.header-nav.navbar-sticky.navbar-sticky-animated
		.header-nav-wrapper
			.container
				+navigation(path)
