doctype
html
	head
		include ../includes/fr/slides/_metas.pug

		//- Page Title
		title Bootcamp Développeur iOS/Swift

		//- Fonts and Material Icons
		include ../includes/fr/slides/_fonts-icons.pug

		//- Styles -->
		include ../includes/fr/slides/_css.pug

		//- Scripts -->
		include ../includes/fr/slides/_js.pug

	body(class="slides")

		//- SVG Library -->
		include ../includes/fr/slides/_svg-library.pug

		//- Navigation
		include ../includes/fr/slides/dev-ios-swift/_navigation.pug

		//- Sidebar
		include ../includes/fr/slides/dev-ios-swift/_sidebar.pug

		//- Your Slides and Other Stuff -->

		//- Hero Slide (#20) -->
		include ../includes/fr/slides/dev-ios-swift/_hero.pug

		//- Description (#25) -->
		include ../includes/fr/slides/dev-ios-swift/_description.pug

		//- Details (#25) -->
		include ../includes/fr/slides/dev-ios-swift/_details.pug

		//- CV développeur (#28) -->
		include ../includes/fr/slides/dev-ios-swift/_cv-dev.pug


//-






			//- Slide 3 (#25) -->
			include ../includes/fr/slides/dev-ios-swift/_details.pug

			//- Slide 4 (#45) -->
			//-<section class="slide whiteSlide">
				<div class="content">
					<div class="container">
						<div class="wrap">

							<div class="fix-10-12 toCenter">
								<h1 class="ae-1">How to Install</h1>
								<div class="ae-2"><p>The ugly can be beautiful. The pretty, never.</p></div>
							</div>
							<div class="fix-10-12">
								<ul class="grid later">
									<li class="col-4-12">
										<img class="ae-3 fromCenter margin-bottom-3 margin-top-5" src="assets/img/app-1-26.png" height="200" alt="App 1"/>
										<div class="fix-45 ae-4">
											<p class="small left">Step 1. It&rsquo;s very easy to be different, but very difficult to be better.</p>
										</div>
									</li>
									<li class="col-4-12">
										<img class="ae-6 fromCenter margin-bottom-3 margin-top-5" src="assets/img/app-2-26.png" height="200" alt="App 2"/>
										<div class="fix-45 ae-7">
											<p class="small left">Step 2. Space and light and order. Those are the things that men.</p>
										</div>
									</li>
									<li class="col-4-12">
										<img class="ae-8 fromCenter margin-bottom-3 margin-top-5" src="assets/img/app-3-26.png" height="200" alt="App 3"/>
										<div class="fix-45 ae-9">
											<p class="small left">Step 3. The proper study of mankind is the science of design.</p>
										</div>
									</li>
								</ul>
							</div>

						</div>
					</div>
				</div>
			//-</section>


			//- Slide 6 (#49) -->
			//-<section class="slide fade kenBurns">
				<div class="content">
					<div class="container">
						<div class="wrap">

							<div class="fix-10-12 toCenter">
								<h1 class="ae-1">Design is the silent ambassador of your&nbsp;brand.</h1>
								<div class="ae-2"><p>I shall sing that first line twice, and perhaps if I sing it very quickly, I shall find myself singing the third and fourth lines before I have time to think of them, and that will be a Good Song. You cannot not&nbsp;communicate.</p></div>
							</div>
							<div class="fix-12-12">
								<ul class="flex grid-49 later equal">
									<li class="col-4-12">
										<div class="fix-4-12">
											<i class="material-icons ae-3 fromCenter">voice_chat</i>
											<h3 class="equalElement ae-4">Meet Quick</h3>
											<p class="small ae-5">Design is so critical it should be on the agenda of every meeting.</p>
										</div>
									</li>
									<li class="col-4-12">
										<div class="fix-4-12 ae-4 fromCenter">
											<i class="material-icons">account_box</i>
											<h3 class="equalElement ae-5">Nice Experience</h3>
											<p class="small ae-6">Space and light and order. Those are the things that men.</p>
										</div>
									</li>
									<li class="col-4-12">
										<div class="fix-4-12 ae-5 fromCenter">
											<i class="material-icons">near_me</i>
											<h3 class="equalElement ae-6">Simple Beauty</h3>
											<p class="small ae-7">Space and light and order. Those are the things that men.</p>
										</div>
									</li>
								</ul>
							</div>

						</div>
					</div>
				</div>
				<div class="background" style="background-image:url(assets/img/img-49.jpg)"></div>
			//-</section>

			//-<!-- Slide 7 (#62) -->
			//-<section class="slide whiteSlide">
				<div class="content">
					<div class="container">
						<div class="wrap">

							<div class="fix-12-12">
								<ul class="flex verticalCenter reverse">
									<li class="col-6-12 left">
										<h1 class="ae-2">Magical balance</h1>
										<div class="ae-3"><p>Design solves problems. It is the answer to question; you need to understand that first in order to answer the&nbsp;riddle.</p></div>
										<ul class="flex grid-62 later">
											<li class="col-6-12 ae-4">
												<i class="material-icons">fingerprint</i>
												<h3>Camera</h3>
												<p class="small">Scan entire conversations in a chat-like view.</p>
											</li>
											<li class="col-6-12 ae-5">
												<i class="material-icons">switch_camera</i>
												<h3>Messages</h3>
												<p class="small">Quickly swipe messages to your archive or trash.</p>
											</li>
											<li class="col-6-12 ae-6">
												<i class="material-icons">notifications_off</i>
												<h3>Music Center</h3>
												<p class="small">Unforgettable feelings through a quality music.</p>
											</li>
											<li class="col-6-12 ae-7">
												<i class="material-icons">layers</i>
												<h3>Channels</h3>
												<p class="small">Read reviews, compare customer ratings.</p>
											</li>
										</ul>
									</li>
									<li class="col-6-12 left ae-1 image-62">
										<img class="macbook-62 margin-bottom-3" src="assets/img/macbook-2.png" data-action="zoom" width="1200" alt="Macbook Image"/>
									</li>
								</ul>
							</div>

						</div>
					</div>
				</div>
			//-</section>

			//- Slide 8 (#70) -->
			include ../includes/fr/slides/dev-ios-swift/_what-learned.pug



			//- Slide 11 (#90)
			include ../includes/fr/slides/dev-ios-swift/_why-swift.pug

			//- Slide (#54)
			include ../includes/fr/slides/dev-ios-swift/_inscription.pug

			//- Slide 5 (#63) -->
			include ../includes/fr/slides/dev-ios-swift/_faq.pug

			//- Slide (#13)
			include ../includes/fr/slides/dev-ios-swift/_dates-update.pug

			//- Slide 10 (#57) -->
			include ../includes/fr/slides/dev-ios-swift/_infos-contact.pug

			//- Popup Video -->
			<div class="popup autoplay" data-popup-id="90-10">
				<div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
				<div class="content">
					<div class="container">
						<div class="wrap">
							<div class="fix-10-12">
								<div class="embedVideo popupContent">
									<iframe src="https://player.vimeo.com/video/101231747?color=ff0179&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			//- Panel Bottom #09 -->
			<nav class="panel bottom">
				<div class="sections">
					<div class="center"><a href="#">Available <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#apple"></use></svg> iPhone</a></div>
				</div>
			</nav>

