doctype
html
	head
		include ../includes/fr/slides/_metas.pug

		//- Page Title
		title Bootcamp Développeur iOS/Swift

		//- Fonts and Material Icons
		include ../includes/fr/slides/_fonts-icons.pug

		//- Styles -->
		include ../includes/fr/slides/_css.pug

		//- Scripts -->
		include ../includes/fr/slides/_js.pug

	body(class="slides scroll")

		//- SVG Library -->
		include ../includes/fr/slides/_svg-library.pug

		//- Navigation
		include ../includes/fr/slides/dev-ios-swift/_navigation.pug

		//- Sidebar
		include ../includes/fr/slides/dev-ios-swift/_sidebar.pug

		//- Your Slides and Other Stuff -->

		//- Notifications
		//-include ../includes/fr/slides/dev-ios-swift/_notifications.pug

		//- Hero Slide (#20)
		include ../includes/fr/slides/dev-ios-swift/_hero.pug

		//- Description (#25)
		include ../includes/fr/slides/dev-ios-swift/_description.pug

		//- Details (#25)
		include ../includes/fr/slides/dev-ios-swift/_details.pug

		//- CV développeur (#28)
		include ../includes/fr/slides/dev-ios-swift/_cv-dev.pug

		//- Les modules
		//-include ../includes/fr/slides/dev-ios-swift/_what-learned.pug

		//- Pourquoi Swift
		include ../includes/fr/slides/dev-ios-swift/_tools.pug

		//- Design
		include ../includes/fr/slides/dev-ios-swift/_design-app.pug

		//- Pourquoi Swift
		include ../includes/fr/slides/dev-ios-swift/_why-swift.pug

		//- Inscriptions (#54)
		include ../includes/fr/slides/dev-ios-swift/_inscription.pug

		//- FAQ
		include ../includes/fr/slides/dev-ios-swift/_faq.pug

		//- Popup Eventbrite
		include ../includes/fr/slides/dev-ios-swift/_popup-inscription.pug

		//- Sessions Update
		include ../includes/fr/slides/dev-ios-swift/_dates-update.pug

		//- Footer
		include ../includes/fr/slides/dev-ios-swift/_footer.pug
