doctype
html
	head
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes" />

		//- Page Title
		title Bootcamp Développeur iOS/Swift

		//- Fonts and Material Icons
		include ../includes/fr/slides/_fonts-icons.pug


		//- Styles
		include ../includes/fr/slides/_css.pug

		<!-- Custom Styles -->
		<!--link href="css/custom.css" rel="stylesheet" type="text/css"-->

		//- Scripts
		include ../includes/fr/slides/_js.pug


		<!-- Custom Scripts -->
		<!--script src="js/custom.js" type="text/javascript" name="custom-scripts"></script-->

	body(class="slides scroll smooth simplifiedMobile noPreload")


		//- SVG Library -->
		include ../includes/fr/slides/_svg-library.pug

		//- Navigation
		include ../includes/fr/slides/dev-ios-swift/_navigation.pug

		//- Sidebar
		include ../includes/fr/slides/dev-ios-swift/_sidebar.pug

		//- Slide 1 (#20) -->
		//-<section class="slide fade kenBurns">
			<div class="content">
				<div class="container">
					<div class="wrap">

						<div class="fix-10-12">
							<h1 class="huge ae-1">Heart of the image</h1>
							<div class="ae-2"><p class="hero">You can design and create, and build the most wonderful place in the world. But it takes people to make the dream a&nbsp;reality.</p></div>
							<a class="button pink ae-5 fromCenter cropBottom">Start free trial</a>
						</div>

					</div>
				</div>
			</div>
			<div class="background" style="background-image:url(assets/img/img-20.jpg)"></div>
		//-</section>

		//- Slide 3 (#25) -->
		include ../includes/fr/slides/dev-ios-swift/_details.pug

		//- Slide 4 (#45) -->
		//-<section class="slide whiteSlide">
			<div class="content">
				<div class="container">
					<div class="wrap">

						<div class="fix-10-12 toCenter">
							<h1 class="ae-1">How to Install</h1>
							<div class="ae-2"><p>The ugly can be beautiful. The pretty, never.</p></div>
						</div>
						<div class="fix-10-12">
							<ul class="grid later">
								<li class="col-4-12">
									<img class="ae-3 fromCenter margin-bottom-3 margin-top-5" src="assets/img/app-1-26.png" height="200" alt="App 1"/>
									<div class="fix-45 ae-4">
										<p class="small left">Step 1. It&rsquo;s very easy to be different, but very difficult to be better.</p>
									</div>
								</li>
								<li class="col-4-12">
									<img class="ae-6 fromCenter margin-bottom-3 margin-top-5" src="assets/img/app-2-26.png" height="200" alt="App 2"/>
									<div class="fix-45 ae-7">
										<p class="small left">Step 2. Space and light and order. Those are the things that men.</p>
									</div>
								</li>
								<li class="col-4-12">
									<img class="ae-8 fromCenter margin-bottom-3 margin-top-5" src="assets/img/app-3-26.png" height="200" alt="App 3"/>
									<div class="fix-45 ae-9">
										<p class="small left">Step 3. The proper study of mankind is the science of design.</p>
									</div>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		//-</section>

		//- Slide 5 (#63) -->
		include ../includes/fr/slides/dev-ios-swift/_faq.pug

		//- Slide 6 (#49) -->
		//-<section class="slide fade kenBurns">
			<div class="content">
				<div class="container">
					<div class="wrap">

						<div class="fix-10-12 toCenter">
							<h1 class="ae-1">Design is the silent ambassador of your&nbsp;brand.</h1>
							<div class="ae-2"><p>I shall sing that first line twice, and perhaps if I sing it very quickly, I shall find myself singing the third and fourth lines before I have time to think of them, and that will be a Good Song. You cannot not&nbsp;communicate.</p></div>
						</div>
						<div class="fix-12-12">
							<ul class="flex grid-49 later equal">
								<li class="col-4-12">
									<div class="fix-4-12">
										<i class="material-icons ae-3 fromCenter">voice_chat</i>
										<h3 class="equalElement ae-4">Meet Quick</h3>
										<p class="small ae-5">Design is so critical it should be on the agenda of every meeting.</p>
									</div>
								</li>
								<li class="col-4-12">
									<div class="fix-4-12 ae-4 fromCenter">
										<i class="material-icons">account_box</i>
										<h3 class="equalElement ae-5">Nice Experience</h3>
										<p class="small ae-6">Space and light and order. Those are the things that men.</p>
									</div>
								</li>
								<li class="col-4-12">
									<div class="fix-4-12 ae-5 fromCenter">
										<i class="material-icons">near_me</i>
										<h3 class="equalElement ae-6">Simple Beauty</h3>
										<p class="small ae-7">Space and light and order. Those are the things that men.</p>
									</div>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
			<div class="background" style="background-image:url(assets/img/img-49.jpg)"></div>
		//-</section>

		//-<!-- Slide 7 (#62) -->
		//-<section class="slide whiteSlide">
			<div class="content">
				<div class="container">
					<div class="wrap">

						<div class="fix-12-12">
							<ul class="flex verticalCenter reverse">
								<li class="col-6-12 left">
									<h1 class="ae-2">Magical balance</h1>
									<div class="ae-3"><p>Design solves problems. It is the answer to question; you need to understand that first in order to answer the&nbsp;riddle.</p></div>
									<ul class="flex grid-62 later">
										<li class="col-6-12 ae-4">
											<i class="material-icons">fingerprint</i>
											<h3>Camera</h3>
											<p class="small">Scan entire conversations in a chat-like view.</p>
										</li>
										<li class="col-6-12 ae-5">
											<i class="material-icons">switch_camera</i>
											<h3>Messages</h3>
											<p class="small">Quickly swipe messages to your archive or trash.</p>
										</li>
										<li class="col-6-12 ae-6">
											<i class="material-icons">notifications_off</i>
											<h3>Music Center</h3>
											<p class="small">Unforgettable feelings through a quality music.</p>
										</li>
										<li class="col-6-12 ae-7">
											<i class="material-icons">layers</i>
											<h3>Channels</h3>
											<p class="small">Read reviews, compare customer ratings.</p>
										</li>
									</ul>
								</li>
								<li class="col-6-12 left ae-1 image-62">
									<img class="macbook-62 margin-bottom-3" src="assets/img/macbook-2.png" data-action="zoom" width="1200" alt="Macbook Image"/>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		//-</section>

		//- Slide 8 (#70) -->
		include ../includes/fr/slides/dev-ios-swift/_what-learned.pug

		//- Slide 9 (#28) -->
		include ../includes/fr/slides/dev-ios-swift/_cv-dev.pug

		//- Slide 10 (#57) -->
		//-<section class="slide fade kenBurns">
			<div class="content">
				<div class="container">
					<div class="wrap">

						<div class="fix-10-12">
							<h1 class="huge ae-1">The details are not the details. They can make the design.</h1>
						</div>
						<div class="fix-12-12 margin-top-6">
							<ul class="grid fixedSpaces">
								<li class="col-4-12 ae-3">
									<h3 class="margin-bottom-1">HQ Studio</h3>
									<p><a href="#">72 Allen Street, New York, ste. 706, 11249</a></p>
									<h3 class="margin-bottom-1">California Studio</h3>
									<p><a href="#">312 Richhy Street, Los Angeles, 90026</a></p>
								</li>
								<li class="col-4-12 ae-4">
									<h3 class="margin-bottom-1">Generatal Engquires</h3>
									<p><a href="mailto:#">general@gmail.com</a></p>
									<h3 class="margin-bottom-1">Questions</h3>
									<p><a href="mailto:#">questions@gmail.com</a></p>
									<h3 class="margin-bottom-1">Partnership</h3>
									<p><a href="mailto:#">partners@gmail.com</a></p>
								</li>
								<li class="col-4-12 ae-5">
									<h3 class="margin-bottom-1">Our blog</h3>
									<p><a href="#">Trend Breakdown: New Ways to Use the Hamburger Icon</a></p>
									<h3 class="margin-bottom-1">Stay in touch</h3>
									<ul class="social-circles">
										<li><a class="button roundButton facebook" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use></svg></a></li>
										<li><a class="button roundButton twitter" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg></a></li>
										<li><a class="button roundButton tumblr" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tumblr"></use></svg></a></li>
										<li><a class="button roundButton googlePlus" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#googlePlus"></use></svg></a></li>
										<!-- <li><a class="button roundButton instagram" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram"></use></svg></a></li> -->
										<!-- <li><a class="button roundButton youtube" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#youtube"></use></svg></a></li> -->
										<!-- <li><a class="button roundButton linkedin" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin"></use></svg></a></li> -->
										<!-- <li><a class="button roundButton pinterest" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pinterest"></use></svg></a></li> -->
									</ul>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
			<div class="background" style="background-image:url(assets/img/img-57.jpg)"></div>
		//-</section>

		//- Slide 11 (#90)
		include ../includes/fr/slides/dev-ios-swift/_why-swift.pug

		//- Popup Video -->
		<div class="popup autoplay" data-popup-id="90-10">
			<div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
			<div class="content">
				<div class="container">
					<div class="wrap">
						<div class="fix-10-12">
							<div class="embedVideo popupContent">
								<iframe src="https://player.vimeo.com/video/101231747?color=ff0179&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		//- Panel Bottom #09 -->
		<nav class="panel bottom">
			<div class="sections">
				<div class="center"><a href="#">Available <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#apple"></use></svg> iPhone</a></div>
			</div>
		</nav>

