include ../mixins/workshops/_hero.pug
include ../mixins/workshops/_navigation.pug


doctype
html
	head
		include ../includes/fr/slides/_metas.pug

		//- Page Title
		title Workshop Créez votre première app iPhone

		//- Fonts and Material Icons
		include ../includes/fr/slides/_fonts-icons.pug

		//- Styles -->
		include ../includes/slides/_css.pug

		//- Scripts -->
		include ../includes/slides/_js.pug

	body(class="slides scroll noPreload")

		//- SVG Library -->
		include ../includes/fr/slides/_svg-library.pug

		//- Navigation
		+navigation()

		//- Your Slides and Other Stuff -->

		//- Notifications
		//-include ../includes/fr/slides/dev-ios-swift/_notifications.pug

		//- Hero Slide (#20)
		+hero("Titre", "Description", "image-path.jpg")

		//- Description (#25)
		include ../includes/fr/slides/first-ios-app/_description.pug

		//- Details (#25)
		include ../includes/fr/slides/first-ios-app/_about.pug

		//- App created
		include ../includes/fr/slides/first-ios-app/_app-created.pug

		//- Pour qui ?
		//-include ../includes/fr/slides/dev-ios-swift/_for-who.pug

		//- Les modules
		//-include ../includes/fr/slides/dev-ios-swift/_what-learned.pug

		//- Les outils
		include ../includes/fr/slides/first-ios-app/_tools.pug

		//- Pourquoi Swift
		include ../includes/fr/slides/workshops/_instructor.pug

		//- Design
		//-include ../includes/fr/slides/dev-ios-swift/_design-app.pug

		//- Dates des sessions
		include ../includes/fr/slides/dev-ios-swift/_sessions-dates.pug

		//- Inscriptions (#54)
		include ../includes/fr/slides/dev-ios-swift/_inscription.pug

		//- FAQ
		include ../includes/fr/slides/dev-ios-swift/_faq.pug

		//- Sessions Newsletter Update
		include ../includes/fr/slides/dev-ios-swift/_dates-update.pug

		//- Infos contact
		include ../includes/fr/slides/dev-ios-swift/_infos-contact.pug

		//- Footer
		include ../includes/fr/slides/dev-ios-swift/_footer.pug

		//- Popup Eventbrite
		include ../includes/fr/slides/dev-ios-swift/_popup-inscription.pug

		//- HelloBar
		//-include ../includes/fr/slides/dev-ios-swift/_hello-bar.pug
