//- Last Slide
//- <section class="slide fade-6 kenBurns">
//- 	<div class="content">
//- 		<div class="container">
//- 			<div class="wrap">
//- 			</div>
//- 		</div>
//- 	</div>
//- 	<div class="background" style="background-image:url(assets/img/background/img-01.jpg)"></div>
//- </section>

footer.slide.fade-6.whiteSlide
	.content
		.container
			.fix-12-12
				ul.grid.grid-77.later.equal.left.margin-top-3
					li.col-3-12
						.footer-section
							ul.trainings
								li
									h4 Bootcamps
								li
									a(href="/bootcamps/developpeur-ios-swift.html") Développeur d'application iOS
							ul.tuts
								li
									h4 Tutoriels
								//-li
									a(href="") iOS
								li
									a(href="https://ondemand.shuttlecoder.academy/p/apprendre-la-programmation-avec-swift" target="_blank") Swift
								//-li
									a(href="") watchOS
								//-li
									a(href="") tvOS
								li
									a(href="") Bootcamps preparation
								//-li
									a(href="") Les Talks !
								li
					li.col-3-12
						.footer-section
							ul.aboutus
								li
									h4 A propos de nous
								li
									a(href="/aboutus.html") Shuttle Coder c’est quoi ?
								//-li
									a(href="https://shop.shuttlecoder.academy") Shop
								//-li
									a(href="/presse.html") Presse
								//-li
									a(href="/partners.html") Partenaires
								//-li
									a(class="disabled badge badge-warning") On recrute
									//-a(class="badge badge-warning" href="/jobs.html") On recrute
							ul.terms
								li
									h4 Terms & Policies
								li
									a(href="/terms.html") Conditions d’utilisation
								li
									a(href="/policies.html") Privacy Policy
					li.col-3-12
						.footer-section
							ul.community
								li
									h4 Communauté
								//-li
									a(href="/newsletter.html")
										i.fas.fa-at
										|  Newsletter
								li
									a(target="_blank" href="https://twitter.com/ShuttleCoder")
										i.fab.fa-twitter
										|  Twitter
								li
									a(target="_blank" href="https://www.facebook.com/ShuttleCoder/")
										i.fab.fa-facebook
										|  Facebook
								li
									a(target="_blank" href="https://www.youtube.com/channel/UCnO-Z3556StzLIWtr3DxJiQ")
										i.fab.fa-youtube
										|  YouTube Channel
								//-li
									a(target="_blank" href="")
										i.fas.fa-podcast
										|  Podcats
								//-li
									a(target="_blank" href="https://www.meetup.com/fr-FR/shuttlecoder/")
										i.fab.fa-meetup
										|  Meetups
								li
									a(target="_blank" href="https://github.com/ShuttleCoder")
										i.fab.fa-github
										|  GitHub
								//-li
									a(target="_blank" href="")
										i.fab.fa-linkedin
										|  LinkedIn
								//-li
									a(target="_blank" href="")
										i.fab.fa-instagram
										|  Instagram
								//-li
									a(target="_blank" href="https://blog.shuttlecoder.academy")
										i.fas.fa-rss-square
										|  Blog
					li.col-3-12
						.newsletter
							h4 S'inscrire à notre newsletter
							p
								| Les dernières infos sur nos bootcamps et workshops
								br
								| envoyées directement dans votre boite mail chaque mois.
							include ../_form-newsletter.pug
	//- .content
	//- 	.container
	//- 		.fix-4-12
	//- 			h4
	//- 				i.fas.fa-heart
	.background(style="background:#fff")
			//- include ./_footer-top.pug
			//- include ./_footer-bottom.pug

//- <nav class="panel bottom lastSlideOnly">
//- 	<div class="sections">
//- 	</div>
//- </nav>
