.top-footer
	.container
		.row
			.tuts
				ul
					li
						h4 Tutoriels
					li
						a(href="") iOS
					li
						a(href="") Swift
					li
						a(href="") watchOS
					li
						a(href="") tvOS
					li
						a(href="") Bootcamps preparation
					li
						a(href="") Les Talks!
					li
			.trainings
				ul
					li
						h4 Bootcamps
					li
			.terms
				ul
					li
						h4 Terms & Policies
					li
						a(href="") Conditions d’utilisation
					li
						a(href="") Privacy Policy
			.aboutus
				ul
					li
						h4 A propos de nous
					li
						a(href="") Shuttle Coder c’est quoi ?
					li
						a(href="") Blog
					li
						a(href="") Podcats
					li
						a(href="") Shop
					li
						a(href="") Presse
					li
						a(href="") Partenaires
					li
						a(href="") Jobs/Recrutements
			.community
				ul
					li
						h4 Communauté
					li
						a(href="") Meetups
					li
						a(href="") Facebook Group
					li
						a(href="") YouTube Channel
					li
						a(href="") Twitter
					li
						a(href="") LinkedIn
			.col-md-4
//-	.socials
		h4 Socials
		.separator
		.social-icons
			a(class="twitter" href="" rel="noreferrer noopener" target="_blank")
				i.fab.fa-twitter.fa-2x
			a(class="facebook" href="" rel="noreferrer noopener" target="_blank")
				i.fab.fa-facebook-square.fa-2x
			a(class="slack" href="" rel="noreferrer noopener" target="_blank")
				i.fab.fa-slack.fa-2x
			a(class="github" href="" rel="noreferrer noopener" target="_blank")
				i.fab.fa-github.fa-2x
	.product
		h4 Product
			.separator
			a(href="") …
			a(href="") …
			a(href="") …
	.company
		h4 Company
			.separator
			a(href="") …
			a(href="") …
			a(href="") …
	.support
		h4 Support
			.separator
			a(href="") …
			a(href="") …
			a(href="") …
