footer.slide
	.content.footer
		.container
			.top-footer
				.fix-8-12.margin-top-5.fromCenter
						script(async data-uid="b3bed7a875" src="https://f.convertkit.com/b3bed7a875/ed9d972db0.js")
			.middle-footer
				ul.grid.fixedSpaces.equal.left.margin-top-5.margin-bottom-5
					li.col-3-12
						.footer-section
							ul.grid.noSpaces.trainings
								li
									h4 Bootcamps
								li
									a(href="/bootcamps/developpeur-ios-swift.html") Développeur d'application iOS
							ul.grid.noSpaces.tuts
								li
									h4 Tutoriels
								//-li
									a(href="") iOS
								li
									a(href="#") Swift
									//- a(href="#" target="_blank") Swift
									//- a(href="https://ondemand.shuttlecoder.academy/p/apprendre-la-programmation-avec-swift" target="_blank") Swift
								//-li
									a(href="") watchOS
								//-li
									a(href="") tvOS
								li
									a(href="#") Bootcamps preparation
								//-li
									a(href="") Les Talks !
								li
					li.col-3-12
						.footer-section
							ul.aboutus
								li
									h4 A propos de nous
								li
									a(href="#") Shuttle Coder c’est quoi ?
									//- a(href="/aboutus.html") Shuttle Coder c’est quoi ?
								//-li
									a(href="https://shop.shuttlecoder.academy") Shop
								//-li
									a(href="/presse.html") Presse
								//-li
									a(href="/partners.html") Partenaires
								//-li
									a(class="disabled badge badge-warning") On recrute
									//-a(class="badge badge-warning" href="/jobs.html") On recrute
							ul.terms
								li
									h4 Terms & Policies
								li
									a(href="#") Conditions d’utilisation
									//- a(href="/terms.html") Conditions d’utilisation
								li
									a(href="#") Privacy Policy
									//- a(href="/policies.html") Privacy Policy
					li.col-2-12
						.footer-section
							ul.community
								li
									h4 Communauté
								//-li
									a(href="/newsletter.html")
										i.fas.fa-at
										|  Newsletter
								li
									a(target="_blank" href="https://twitter.com/ShuttleCoder")
										i.fab.fa-twitter
										|  Twitter
								li
									a(target="_blank" href="https://www.facebook.com/ShuttleCoder/")
										i.fab.fa-facebook
										|  Facebook
								li
									a(target="_blank" href="https://www.youtube.com/channel/UCnO-Z3556StzLIWtr3DxJiQ")
										i.fab.fa-youtube
										|  YouTube Channel
								//-li
									a(target="_blank" href="")
										i.fas.fa-podcast
										|  Podcats
								//-li
									a(target="_blank" href="https://www.meetup.com/fr-FR/shuttlecoder/")
										i.fab.fa-meetup
										|  Meetups
								li
									a(target="_blank" href="https://github.com/ShuttleCoder")
										i.fab.fa-github
										|  GitHub
								//-li
									a(target="_blank" href="")
										i.fab.fa-linkedin
										|  LinkedIn
								//-li
									a(target="_blank" href="")
										i.fab.fa-instagram
										|  Instagram
								//-li
									a(target="_blank" href="https://blog.shuttlecoder.academy")
										i.fas.fa-rss-square
										|  Blog
		.content
			.bottom-footer
				.fix-4-12.margin-top-6.margin-bottom-6.fromCenter
					h4
						i.fas.fa-heart
	.background(style="background:#fcfcfc")
