.top-footer.pt-40.pb-40
	.footer-section
		ul.tuts
			li
				h4 Tutoriels
			li
				a(href="") iOS
			li
				a(href="") Swift
			li
				a(href="") watchOS
			li
				a(href="") tvOS
			li
				a(href="") Bootcamps preparation
			li
				a(href="") Les Talks !
			li
	.footer-section
		ul.trainings
			li
				h4 Bootcamps
			li
		ul.terms
			li
				h4 Terms & Policies
			li
				a(href="") Conditions d’utilisation
			li
				a(href="") Privacy Policy
	.footer-section
		ul.aboutus
			li
				h4 A propos de nous
			li
				a(href="") Shuttle Coder c’est quoi ?
			li
				a(href="") Blog
			li
				a(href="") Podcats
			li
				a(href="") Shop
			li
				a(href="") Presse
			li
				a(href="") Partenaires
			li
				a(href="") Jobs/Recrutements
		ul.community
			li
				h4 Communauté
			li
				a(href="") Meetups
			li
				a(href="") Facebook Group
			li
				a(href="") YouTube Channel
			li
				a(href="") Twitter
			li
				a(href="") LinkedIn
	.newsletter
		h4 S'inscrire à notre newsletter
		p
			| Les dernières infos sur nos bootcamps et workshops
			br
			| envoyées directement dans votre boite mail chaque mois.
			form.form-inline
				input(type="text" class="form-control" placeholder="Votre adresse mail")
				button(class="btn btn-lg btn-default" type="submit") S'inscrire
