mixin hero(title, description, imagebg)
	//- Slide 1 (#12) -->
	<section data-name="slide-1" data-title="Slide #1" class="slide fade-6 kenBurns">
		<div class="content">
			<div class="container">
				<div class="wrap">
					<div class="fix-10-12">
						h1.ae-1.big= title
						p.hero.ae-2.fix-9-12
							span.opacity-8= description
						<div class="margin-top-6">
							<a class="button blue gradient ae-5 uppercase fromCenter">Le workshop en détail</a>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="background" style="background-image:url(assets/img/background/img-12.jpg)"></div>
	</section>
