section.bg-white-f7
	.container.pb-0
		.section-title
			.row
				.col-md-8.col-md-offset-2
					.text-center
						h5.sub-title Vous êtes prêt à accepter les critiques et à agir ?
						h2.title Ces forfaits sont pour vous…
						p Afin de tirer le meilleur parti de notre temps ensemble, vous devez être prêt à travailler dur, à compléter chaque étape d'action et à vous préparer.
