section
	.container
		.section-content
			.row
				.col-md-6
					img(class="img-fullwidth" src="http://placehold.it/560x345" alt="")
				.col-md-6
					h4.mt-5.mb-15 Le succès arrive quand on agit
					p
						| Dans les jets de conception, de lancement et de croissance de votre entreprise, il peut être difficile de trouver une direction claire.
					p.hidden-md
						| Vous pourriez vous retrouver en train de deviner vos décisions, en vous demandant ce que vous devriez lancer et à quoi vous devriez consacrer votre temps. Vous pouvez vous sentir perdu et frustré par les mesures que vous devez prendre pour augmenter votre auditoire et apporter un revenu appréciable.
					p
						| Et c'est là qu'intervient le coaching d'affaires.
