section#pricing
	.container.pt-90
		.section-title
			.row
				.col-md-8.col-md-offset-2
					.text-center
						h5.sub-title Vous êtes prêt à accepter les critiques et à agir ?
						h2.title Ces forfaits sont pour vous…
						p Afin de tirer le meilleur parti de notre temps ensemble, vous devez être prêt à travailler dur, à compléter chaque étape d'action et à vous préparer.
		.section-content
			.row
				.col-sm-6.col-lg-3
					.pricing-table.text-center
						h2.package-type Forfait 1
						h4.price.bg-theme-colored2 850€/<span>month</span>
						ul.price-list.mt-0
							li 2GB Bandwidth
							li 250GB Storage
							li 14 Accounts
							li 5 Host Domain
							li 24/7 Support
						a(class="btn btn-theme-colored2 text-uppercase mt-15 mb-30 pr-50 pl-50" href="#") Je démarre
				.col-sm-6.col-lg-3
					.pricing-table.featured.text-center
						h2.package-type Forfait 1
						h4.price.bg-theme-colored2 $120/<span>month</span>
						ul.price-list.mt-0
							li 2GB Bandwidth
							li 250GB Storage
							li 14 Accounts
							li 5 Host Domain
							li 24/7 Support
						a(class="btn btn-theme-colored2 text-uppercase mt-15 mb-30 pr-50 pl-50" href="#") Je démarre
				.col-sm-6.col-lg-3
					.pricing-table.text-center
						h2.package-type Forfait 1
						h4.price.bg-theme-colored2 $120/<span>month</span>
						ul.price-list.mt-0
							li 2GB Bandwidth
							li 250GB Storage
							li 14 Accounts
							li 5 Host Domain
							li 24/7 Support
						a(class="btn btn-theme-colored2 text-uppercase mt-15 mb-30 pr-50 pl-50" href="#") Je démarre
				.col-sm-6.col-lg-3
					.pricing-table.text-center
						h2.package-type Forfait 1
						h4.price.bg-theme-colored2 $120/<span>month</span>
						ul.price-list.mt-0
							li 2GB Bandwidth
							li 250GB Storage
							li 14 Accounts
							li 5 Host Domain
							li 24/7 Support
						a(class="btn btn-theme-colored2 text-uppercase mt-15 mb-30 pr-50 pl-50" href="#") Je démarre
