<section id="about" class="bg-silver-light">
	<div class="container pt-50 pb-20">
		<div class="section-title">
			<div class="row">
				<div class="col-lg-6">
					<h3 class="title font-28 text-uppercase">About <span class="text-theme-colored2">University</span></h3>
					<div class="line-bottom-theme-colored2"></div>
					<img src="http://placehold.it/555x320" class="img-fullwidth" alt="">
					<p class="mt-15">Lorem ipsum dolor sit amet, conse ctetur adipis elit. Totam perferendis, assumenda vitae cum beatae Pariatur, ratione adipis elit. Totam perfereding.</p>
					<a href="#" class="btn btn-colored btn-sm btn-theme-colored2">read more</a>
				</div>
				<div class="col-md-6">
					<h3 class="title font-28 text-uppercase">Recent <span class="text-theme-colored2">News</span></h3>
					<div class="line-bottom-theme-colored2"></div>
					<article class="post media-post clearfix pb-0 mb-10">
						<a href="#" class="post-thumb mr-20"><img alt="" src="http://placehold.it/120x120"></a>
						<div class="post-right">
							<h4 class="mt-0 mb-5"><a href="page-single-event.html">Programing Contest 2018</a></h4>
							<ul class="list-inline font-12 mb-5">
								<li class="pr-0"><i class="fa fa-calendar mr-5"></i> June 26, 2018 |</li>
								<li class="pl-5"><i class="fa fa-map-marker mr-5"></i>New York</li>
							</ul>
							<p class="mb-0 font-13">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas eveniet, nemo dicta. Ullam nam.</p>
							<a class="text-theme-colored font-13" href="page-single-event.html">Read More →</a>
						</div>
					</article>
					<article class="post media-post clearfix pb-0 mb-10">
						<a href="#" class="post-thumb mr-20"><img alt="" src="http://placehold.it/120x120"></a>
						<div class="post-right">
							<h4 class="mt-0 mb-5"><a href="page-single-event.html">Programing Contest 2018</a></h4>
							<ul class="list-inline font-12 mb-5">
								<li class="pr-0"><i class="fa fa-calendar mr-5"></i> June 26, 2018 |</li>
								<li class="pl-5"><i class="fa fa-map-marker mr-5"></i>New York</li>
							</ul>
							<p class="mb-0 font-13">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas eveniet, nemo dicta. Ullam nam.</p>
							<a class="text-theme-colored font-13" href="page-single-event.html">Read More →</a>
						</div>
					</article>
					<article class="post media-post clearfix pb-0 mb-10">
						<a href="#" class="post-thumb mr-20"><img alt="" src="http://placehold.it/120x120"></a>
						<div class="post-right">
							<h4 class="mt-0 mb-5"><a href="page-single-event.html">Programing Contest 2018</a></h4>
							<ul class="list-inline font-12 mb-5">
								<li class="pr-0"><i class="fa fa-calendar mr-5"></i> June 26, 2018 |</li>
								<li class="pl-5"><i class="fa fa-map-marker mr-5"></i>New York</li>
							</ul>
							<p class="mb-0 font-13">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas eveniet, nemo dicta. Ullam nam.</p>
							<a class="text-theme-colored font-13" href="page-single-event.html">Read More →</a>
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>
