<section class="layer-overlay overlay-theme-colored-9 parallax" data-bg-img="http://placehold.it/1920x1280">
	<div class="container pt-60 pb-80 pt-md-70 pb-md-50 pb-sm-50">
		<div class="row mt-30 text-center">
			<div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
				<div class="funfact">
					<i class="pe-7s-smile text-white"></i>
					<div class="odometer-animate-number text-theme-colored2 font-weight-700 font-48" data-value="20" data-theme="minimal">0</div>
					<h5 class="text-white text-uppercase">Happy Clients</h5>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
				<div class="funfact">
					<i class="pe-7s-notebook text-white"></i>
					<div class="odometer-animate-number text-theme-colored2 font-weight-700 font-48" data-value="20" data-theme="minimal">0</div>
					<h5 class="text-white text-uppercase">Years of Experience</h5>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
				<div class="funfact">
					<i class="pe-7s-users text-white"></i>
					<div class="odometer-animate-number text-theme-colored2 font-weight-700 font-48" data-value="20" data-theme="minimal">0</div>
					<h5 class="text-white text-uppercase">Cases completed</h5>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
				<div class="funfact">
					<i class="pe-7s-study text-white"></i>
					<div class="odometer-animate-number text-theme-colored2 font-weight-700 font-48" data-value="20" data-theme="minimal">0</div>
					<h5 class="text-white text-uppercase">Awards winning</h5>
				</div>
			</div>
		</div>
	</div>
</section>
