section(id="cd-timeline" class="cd-container mt-100 mb-100")
	.cd-timeline-block
		.cd-timeline-img.cd-movie
			img(src="js/vertical-timeline/img/cd-icon-movie.svg" alt="Movie")

		.cd-timeline-content
			article.post.clearfix
				.entry-content
					p.mb-30 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores sit nobis magni incidunt eos quasi et excepturi, animi omnis velit, deserunt ratione eum dolorem ducimus ab quidem saepe, natus earum facilis voluptate molestias quos nisi. Beatae in saepe velit nisi sapiente ullam nihil. Laboriosam repellat deleniti voluptate maiores consectetur debitis
					ul.list-inline.like-comment.pull-left.font-16
						li
							span #Swift
