<section class="slide whiteSlide">
	<div class="content">
		<div class="container">
			<div class="wrap">
				<div class="fix-10-12">
					<h2 class="ae-1">Être averti des Bootcamps et des Workshops à venir.</h2>
					<div class="ae-2">
						<p>Inscrivez-vous sur notre newsletter. Nous vous informerons par e-mail chaque fois que nous organisons une nouvelle formation ou nouvel atelier/workshop.</p>
					</div>
					<form action="#" autocomplete="off">
						<input type="email" class="ae-5 fromLeft input-13" name="email" placeholder="Adresse email"/>
						<input type="submit" class="button red ae-5 fromRight" name="submit" value="Me tenir informé"/>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
