<section class="slide fade kenBurns">
	<div class="content">
		<div class="container">
			<div class="wrap">
				<div class="fix-10-12 toCenter">
					<h2 class="ae-1">Un seul objectif : faire de vous un développeur compétent d'application mobile sur iOS</h2>
					<div class="ae-2">
						<p>Deux mois intenses vers une nouvelle vie. L'aventure Shuttle Coder c'est une formation vivante où les élèves apprennent ensemble le métier de développeur <br>et c'est aussi…</p>
					</div>
				</div>
				<div class="fix-12-12">
					<ul class="flex grid-49 later equal">
						<li class="col-4-12">
							<div class="fix-4-12">
								<h2 class="huge ae-3">360</h2>
								<h3 class="equalElement ae-4">heures de formation</h3>
								<p class="small ae-5">Une formation complète pour maitrisez Swift et l'environnement de développement Apple. Apprendre à designer, créer et vendre vos applications.</p>
							</div>
						</li>
						<li class="col-4-12">
							<div class="fix-4-12 ae-4 fromCenter">
								<h2 class="huge">+10</h2>
								<h3 class="equalElement ae-5">projets à réaliser</h3>
								<p class="small ae-6">Le bootcamp, c'est plus de 10 projets sur des thèmes différents. Pour vous permettre de voir les innombrables possibilités qui s'offrent à vous. Réalité Augmentée, Machine Learning…</p>
							</div>
						</li>
						<li class="col-4-12">
							<div class="fix-4-12 ae-5 fromCenter">
								<h2 class="huge">1</h2>
								<h3 class="equalElement ae-6">projet personnel, le vôtre</h3>
								<p class="small ae-7">La création de votre projet. Du prototypage au développement, 2 semaines où vous serez autonome.</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="background"></div>
</section>
