<section class="slide">
	<div class="content">
		<div class="container">
			<div class="wrap">
				<div class="fix-12-12">
					<ul class="flex verticalCenter reverse">
						<li class="col-6-12 left">
							<h1 class="ae-2">Designer les interfaces utilisateur de vos apps</h1>
							<div class="ae-3"><p>Personne ne vous apprendra à designer des apps comme nous le faisons à Shuttle Coder.</p></div>
							<ul class="flex grid-62 later">
								<li class="col-6-12 ae-4">
									<h3>Prototyper son app</h3>
									<p class="small">Vous apprendrez à utiliser Sketch et à prototyper vos apps.</p>
								</li>
								<li class="col-6-12 ae-5">
									<h3>Auto layout</h3>
									<p class="small">Vous travaillerez avec Auto Layout pour créer des interfaces qui s'adaptent à toutes les tailles d'écran</p>
								</li>
								<li class="col-6-12 ae-6">
									<h3>Icones d'app</h3>
									<p class="small">Vous comprendrez à designer vos icones et comment intégrer des images</p>
								</li>
								<li class="col-6-12 ae-7">
									<h3>Stack Views</h3>
									<p class="small">Vous apprendrez à utiliser les stack views d'iOS pour organiser vos user interfaces</p>
								</li>
							</ul>
						</li>
						<li class="col-6-12 left ae-1 image-62">
							<img class="macbook-62 margin-bottom-3" src="../assets/img/app-design-macbook.png" data-action="zoom" width="1200" alt=""/>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="background" style="background-image:url(../assets/img/ui-design.jpg)"></div>
</section>
