<section class="slide" data-name="faq">
	<div class="content">
		<div class="container">
			<div class="wrap">
				<div class="fix-12-12">
					<div class="fix-10-12 toCenter">
						<h1 class=" big ae-1">FAQ</h1>
						.ae-2
							p
								| Vous avez certainement de nombreuses questions. Nous avons pris la liberté de répondre à plusieurs d'entre elles ci-dessous. Si vous souhaitez en discuter en personne, n'hésitez pas à nous contacter directement.
					</div>
					<ul class="flex left margin-top-6">
						<li class="col-12-12 margin-bottom-1 ae-5">
							<h3 class="sourceSans">Je suis un vrai débutant, est-ce que le programme est fait pour moi ?</h3>
							<p class="small">Aucune connaissance du code n'est requise pour venir à Shuttle Coder, mais vous devez avoir 3 qualités essentielles : de la motivation, de la curiosité et un bon sens relationnel.</p>
						</li>
						li.col-12-12.margin-bottom-1
							h3.sourceSans Comment puis-je me préparer au mieux avant le début de la formation ?
							p.small
								| Nous vous conseillons de commencer votre préparation grâce à notre tuto <a class="underline-orange" target="_blank" href="https://ondemand.shuttlecoder.academy/p/preparation-au-bootcamp-ios-swift/">Bien démarrer le Bootcamp iOS/Swift</a>, vous pourrez poursuivre votre préparation grâce à notre chaine Youtube avec <a class="underline-orange" target="_blank" href="https://www.youtube.com/playlist?list=PLcgJ_X4Y_DwWXXZJpKW72jsmqhcWwk5r7">cette playlist</a>.
						li.col-12-12.margin-bottom-1
							h3.sourceSans Shuttle Coder est-il un organisme de formations ?
							p.small
								| Shuttle Coder est un organisme de formation, les élèves peuvent demander à se faire rembourser une partie ou la totalité des frais de la formation (ils doivent cependant avancer les frais). Les élèves peuvent aussi se faire financer partiellement ou intégralement sur étude de leur dossier.
						li.col-12-12.margin-bottom-1
							h3.sourceSans OPCA
							p.small
								| Nous sommes enregistrés au Datadock et donc notre formation est validée par les OPCA. Vous pouvez donc, en fonction de votre branche d'activité contacter le AFDAS, FAFIEC, FIFPL, FAFIEH, FONGECIF… et leur demander le financement de la formation. Vous pouvez utiliser le code NAF qui est sur votre fiche de paie pour savoir de quelle OPCA vous dépendez <a class="underline-orange" href="http://www.le-compte-personnel-formation.com/trouver-mon-opca-pour-mon-compte-formation-avec-le-code-naf-ou-ape/" target="_blank">ici</a>.
						li.col-12-12.margin-bottom-1
							h3.sourceSans Pôle Emploi / Obtention d'un devis
							p.small
								| Concernant les financements Pole Emploi, si vous n'en avez pas encore discuté avec votre conseiller je vous invite à lui présenter votre projet professionnel et les raisons pour lesquelles vous voudriez faire Shuttle Coder avant de lui amener un devis. Si c'est votre conseiller Pole Emploi qui vous a demandé le devis nous serons ravis de vous en faire un si vous êtes sélectionnés.
						li.col-12-12.margin-bottom-1
							h3.sourceSans Paiement / Échéancier
							p.small
								| Nous demandons à la signature du contrat un acompte de 30%, un second versement de 30% à la moitié de la formation et enfin le solde de 40% à la fin de cette dernière.
						//-li.col-12-12.margin-bottom-1
							h3.sourceSans Comment postuler à Shuttle Coder ?
							p.small
						li.col-12-12.margin-bottom-1
							h3.sourceSans J'ai moins de 18 ans, puis-je postuler ?
							p.small
								| Cette formation est exclusivement réservée aux majeurs. Cependant nous vous conseillons de vous tenir informé de la sortie de nos nouveaux projets.
						//-li.col-6-12.margin-bottom-1
							h3.sourceSans Enseignez-vous le développement web ?
							p.small
						li.col-12-12.margin-bottom-1
							h3.sourceSans Est-ce vous faîtes du TDD (Test Driven Development) ?
							p.small
								| Oui ! Chaque jour, après le cours, vous travaillerez avec la méthodologie <a class="underline-orange" href="" target="_blank">red / green / refactor</a> sur des exercices et un challenge. Chaque exercice vous permet de coder dans le contexte du développement par les tests. Le soir, en livecode, la classe démarre d'une feuille blanche et utilise TDD pour résoudre le challenge proposé.
						li.col-12-12.margin-bottom-1
							h3.sourceSans Pourquoi enseigner Swift ?
							p.small
								| L'objectif de cette formation est de vous donner toutes les compétences dont vous pourriez avoir besoin afin de lancer votre produit / application mobile. Que vous souhaitiez intégrer une équipe de développeur ou lancer votre startup, l'idée est surtout de vous transmettre les bons outils afin d'être autonome le plus rapidement possible. C'est pourquoi nous avons fait le choix d'enseigner Swift et les SDKs.
								br
								| Swift est un langage moderne et puissant. Sa syntaxe est nettement plus facile à apprendre que la plupart de ses concurrents tels que Java, Objective-C, JavaScript par exemple. Il permet de programmer des applications sur iOS, macOS, tvOS, watchOS ainsi que Linux… et bientôt Android.
								br
								| Donc à l'issue du bootcamp vous aurez de solides bases pour développer sur les plateformes d'Apple et plus tard développer pour Android ou faire du développement Back-End.
						li.col-12-12.margin-bottom-1
							h3.sourceSans Que serais je capable de faire au bout des 9 semaines ?
							p.small
								| Vous aurez acquis la compétence de développeur junior d'application mobile pour iOS. Cela veut dire que vous serez capable de prototyper rapidement vos idées en créant de manière autonome une application native pour la plateforme iOS. Vous saurez comment intégrer Siri à vos applications et les rendre plus intelligentes grâce au Machine Learning, créer des objets en Réalité Augmentée… Vous aurez appris les bonnes pratiques de développement utilisées par les meilleures startups.
								br
								| Vous aurez alors le choix : continuer votre projet entrepreneurial, ou bien candidater comme junior developer dans une startup ou une société Grand compte !
						li.col-12-12.margin-bottom-1
							h3.sourceSans Est-ce que je dois venir avec mon ordi ?
							p.small
								| Oui, tous les élèves doivent avoir un ordinateur portable. Nous utiliserons Mac OS X et travaillerons avec Xcode l'environnement de développement d'Apple.
								br
								| ⚠️ Les Surfaces ou les iPads sont des tablettes, pas des ordinateurs. Il est impossible de suivre la formation avec un tel appareil.
						li.col-12-12.margin-bottom-1
							h3.sourceSans J’ai plus de 40 ans, puis-je postuler ?
							p.small
								| Il n'y a pas d'âge pour apprendre la programmation. Tout dépend uniquement de votre curiosité et de votre motivation !
						li.col-12-12.margin-bottom-1
							h3.sourceSans Dois-je venir avec un projet ?
							p.small
								| Durant les 9 semaines, une journée Pitch est organisée où chacun pourra présenter son projet. Les élèves se mettent ensuite en groupe durant les deux dernières semaines. Si vous n'avez pas de projet, vous pourrez intégrer le projet d'un autre élève.
								br
								| Le but de ces deux semaines est avant tout pédagogique. L'objectif central reste d'apprendre à coder dans une équipe. Si à l'issue de votre pitch, vous n'avez pas trouvé suffisamment d'élèves pour former un groupe, vous ne pourrez pas travailler seul sur votre projet. Ce n'est pas grave, après ce bootcamp, vous êtes capables de coder vos idées en autonomie !
						li.col-12-12.margin-bottom-1
							h3.sourceSans Dois-je parler français ? anglais ? les deux ?
							p.small
								| Toutes nos formations sont données en français. C'est-à-dire que le cours du matin et la correction en live-code du soir sont en français. Le matériel pédagogique (cours, exercices, etc.) ainsi que toute la documentation technique (Apple Developer Docs, etc.) est en anglais. Le rythme de la formation étant très soutenu, il vaut mieux maîtriser l'anglais.
						li.col-12-12.margin-bottom-1
							h3.sourceSans Proposez-vous le logement et la restauration ?
							p.small
								| Nous ne proposons pas ce type de service. Le prix du programme Développeur iOS/Swift comprend uniquement les cours ainsi que l'accès à vie à notre plateforme de formation.
						li.col-12-12.margin-bottom-1
							h3.sourceSans Est-il possible de s'inscrire sur une liste d'attente ?
							p.small
								| En cas de désistement nous vous ferons signe ! Il faut toutefois vous inscrire et suivre le processus de recrutement dans son intégralité.
					</ul>
					//-<a href="#" class="button pink crop margin-top-4 ae-7">Ask a question</a>
				</div>
			</div>
		</div>
	</div>
</section>
