<section class="slide fade kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">
        <div class="fix-12-12">
          <h2 class="ae-1 fromLeft margin-bottom-3">A qui s'adresse cette formation ?</h2>
          <ul class="flex later margin-top-4 left">
            <li class="col-6-12 box-89">
              <div class=" ae-4 fromLeft">
                p.cropBottom.light
                  | La formation est <strong>conçue pour les débutants</strong> qui souhaitent apprendre le développement d'applications Swift et iOS. <strong>Même si vous n'avez aucune expérience en programmation</strong>, vous apprendrez à créer des application pour iPhone et iPad, et à comprendre les bases de Swift
                p.cropBottom.light.margin-top-3
                  | Tout le monde peut postuler! Les développeurs avancés en Objective-C ou Swift pourront suivre le bootcamp un peu plus rapidement, mais la formation est conçue essentiellement pour les parfaits débutants.
              </div>
            </li>
            <li class="col-6-12">
              p.light …quelques exemples de profils :
              <ul class="flex fromBottomRight fixedSpaces">
                <li class="col-6-12 ae-6">
                  <h3>Débutants</h3>
                </li>
                <li class="col-6-12 ae-6">
                  <h3>…et faux-débutants</h3>
                </li>
                <li class="col-6-12 ae-7">
                  <h3>Entrepreneurs Tech</h3>
                </li>
                <li class="col-6-12 ae-8">
                  <h3>Founders</h3>
                </li>
                <li class="col-6-12 ae-9">
                  <h3>Designers</h3>
                </li>
                <li class="col-6-12 ae-9">
                  <h3>Demandeurs d'emploi</h3>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="background"></div>
</section>
