<section class="slide fade kenBurns">
	<div class="content">
		<div class="container">
			<div class="wrap">
				<div class="fix-10-12">
					<h1 class="huge ae-1">Formation développeur iOS/Swift</h1>
					<div class="ae-2">
						<p class="hero">Embarquez pour 9 semaines intensives et devenir développeur d'application mobile.</p>
					</div>
					<a class="button pink ae-5 fromCenter cropBottom" href="#leprogramme">Le programme</a>
				</div>
			</div>
		</div>
	</div>
	<div class="background" style="background-image:url(../assets/img/img-20.jpg)"></div>
</section>
