<section class="slide fade kenBurns">
	<div class="content">
		<div class="container">
			<div class="wrap">

				<div class="fix-10-12">
					<h1 class="huge ae-1">Où nous trouver.</h1>
				</div>
				<div class="fix-12-12 margin-top-6 box-57">
					<ul class="grid fixedSpaces">
						<li class="col-4-12 ae-3">
							<h2 class="small uppercase margin-bottom-0">Espace Hermès</h2>
							<p class="opaque playfair">10 Cité Joly, 75011 Paris</p>
							<h3 class="small uppercase margin-bottom-0">Comment s'y rendre</h3>
							<p class="opaque">A 5 min à pied du métro Père Lachaise</p>
						</li>
						<li class="col-4-12 ae-4">
							<h3 class="small uppercase margin-bottom-0">Pour nous contacter</h3>
							<p><a href="mailto:contact@shuttlecoder.academy">contact@shuttlecoder.academy</a></p>
							<h3 class="small uppercase margin-bottom-0">Pour nous appeler</h3>
							<p><a href="tel:+33652216173">(+33)0652216173</a></p>
						</li>
						<li class="col-4-12 ae-5">
							<h3 class="margin-bottom-1">Nous trouver sur les réseaux</h3>
							<ul class="social-circles">
								<li><a class="button roundButton facebook" target="_blank" href="https://www.facebook.com/ShuttleCoder/"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use></svg></a></li>
								<li><a class="button roundButton twitter" target="_blank" href="https://twitter.com/ShuttleCode"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg></a></li>
								//-<!-- <li><a class="button roundButton youtube" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#youtube"></use></svg></a></li> -->
								//-<!-- <li><a class="button roundButton linkedin" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin"></use></svg></a></li> -->
								//-<!-- <li><a class="button roundButton pinterest" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pinterest"></use></svg></a></li> -->
							</ul>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
	<div class="background" style="background-image:url(../assets/img/training-room.jpg)"></div>
</section>
