<!-- Slide #53 -->
<section class="slide whiteSlide" data-name="inscription">
	<div class="content">
		<div class="container">
			<div class="wrap">
				<h2 class="ae-1">Ready to Purchase?</h2>
				<div class="ae-2">
					<p>14 Jul, 2018 (Sat) 09:30 - 17:30 (with 1-hour lunch)<br>Location: <a href="http://www.ooosh.hk" target="_">Ooosh for Startups</a>, Hong Kong<br>(Just 3 minutes walk from Lai Chi Kwok MTR station)</p>
					<p>Please note that this workshop will be delivered in <strong>Cantonese</strong> with learning materials available in English. You'll need to bring your own Mac (running macOS 10.13.2 or up) to attend the workshop.</p>
					<p>Enroll before Jun 30 to save up to $350 off</p>
				</div>
				<div class="ae-2"><p>Design is thinking made visual.</p></div>
				<div class="fix-10-12">
					<ul class="flex later verticalCenter">
						<li class="col-6-12">
							<div class="fix-4-12">
								<div class="pad shadow tint-86 ae-3">
									<div class="price sourceSans ae-5"><span class="currency sourceSans">€</span>4000</div>
									<div class="ae-7 done">
										<p class="small">
											<strike>Regular price: €4500</strike>
										</p>
									</div>
									<h3 class="big ae-5">Formation sur Paris</h3>
									<div class="ae-6"><p class="small equalElement">Space and light and order. Those are the things that men.</p></div>
									<button class="button teal crop wide ae-7 popupTrigger" data-popup-id="redirect-eventbrite">Réserver ma place</button>
								</div>
							</div>
						</li>
						<li class="col-6-12">
							<div class="fix-4-12">
								<div class="pad shadow ae-4">
									<img src="../assets/img/app-2-26.png" class="ae-5 margin-bottom-2" alt="App 2"/>
									<div class="ae-7 done">
										<p class="small">
											<strike>Regular price: €4500</strike>
										</p>
									</div>
									<h3 class="big ae-6">Formation finançable sur Paris</h3>
									<div class="ae-7"><p class="small equalElement">Design is not making beauty, beauty emerges from selection.</p></div>
									<button class="button orange crop wide ae-8 popupTrigger" data-popup-id="redirect-form-inscription"">Je postule</button>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
