<nav class="side small">
	<div class="navigation">
		<ul></ul>
	</div>
</nav>

<nav class="panel top small fixed forceMobileView" style="background: rgb(0, 0, 0, 0.2);">
	<div class="sections desktop">
		<div class="left"><a href="#" title="Brand Name"><svg style="width:107px;height:31px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg></a></div>
		<div class="right">
			<ul class="menu uppercase">
				<li><a href="#">Le programme</a></li>
				<li><a href="#">Les dates</a></li>
				<li><a href="#">Faq</a></li>
			</ul>
			<a class="button menuButton round orange uppercase" href="#inscription">Je m'inscris</a>
		</div>
	</div>
	<div class="sections compact hidden">
		<div class="left"><a href="#" title="Brand Name"><svg style="width:107px;height:31px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg></a></div>
		<div class="right"><span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></span></div>
	</div>
</nav>
