<div class="dialogContainer">

	<!-- Dialog message 1 -->
	<div class="dialog">
		<div class="close" data-dialog-action="close"></div>
		<div class="dialogContent">
			<div class="text">
				| Your first text message here.
				<div class="hiddenContent">Hidden content will showup on hover.</div>
			</div>
		</div>
		<div class="hiddenContent">
			<ul>
				<li class="toSlide-5">Internal</li>
				<li data-href="https://">Redirect</li>
				<li data-href="https://" data-target="_blank" class="indigo">New tab</li>
			</ul>
		</div>
	</div>

	<!-- Dialog message 2 -->

</div>
