<div class="popup" data-popup-id="redirect-eventbrite">
	<div class="close">
		<svg>
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
		</svg>
	</div>
	<div class="content">
		<div class="container">
			<div class="wrap">
				<h1 class="small ae-1">Proceed to Payment</h1>
				<p>You'll now be redirected to Eventbrite, which helps us process the payment.<br>You can either pay by Paypal or your preferred credit cards.<br>Once you're in Eventbrite, simply click <em>Get Tickets</em> to proceed.</p>
				<a href="https://" class="button uppercase round red">Continue to Eventbrite</a>
				<p class="tiny">If you have any questions, please contact us at support@shuttlecoder.academy<br> or call us at .</p>
			</div>
		</div>
	</div>
</div>

<div class="popup" data-popup-id="redirect-form-inscription">
	<div class="close">
		<svg>
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
		</svg>
	</div>
	<div class="content">
		<div class="container">
			<div class="wrap">
				<h1 class="small ae-1">Proceed to Payment</h1>
				<p>You'll now be redirected to Eventbrite, which helps us process the payment.<br>You can either pay by Paypal or your preferred credit cards.<br>Once you're in Eventbrite, simply click <em>Get Tickets</em> to proceed.</p>
				<a href="https://" class="button uppercase round red">Continue to Eventbrite</a>
				<p class="tiny">If you have any questions, please contact us at support@shuttlecoder.academy<br> or call us at .</p>
			</div>
		</div>
	</div>
</div>
