<section class="slide fade kenBurns">
	<div class="content">
		<div class="container">
			<div class="wrap">
				<div class="fix-10-12 toCenter">
					<h1 class="ae-1">Des outils et workflows puissants pour le développement d'apps sur iOS</h1>
				</div>
				<div class="fix-10-12">
					<ul class="grid later">
						<li class="col-4-12">
							<img class="ae-3 fromCenter margin-bottom-3 margin-top-5" src="../assets/img/xcode.png" height="200" alt="Xcode logo"/>
							<div class="fix-3-12 ae-4">
								h3.center Xcode 10
								<p class="small center">Vous vous familiariserez avec les outils de développement pour iOS qui incluent <strong>Xcode</strong>, <strong>Interface Builder</strong> pour créer vos interfaces visuelles et <strong>Playgrounds</strong></p>
							</div>
						</li>
						<li class="col-4-12">
							<img class="ae-6 fromCenter margin-bottom-3 margin-top-5" src="../assets/img/swift-logo.png" height="200" alt="Apple Swift logo"/>
							<div class="fix-3-12 ae-7">
								h3.center Swift 4.x
								<p class="small center">Apprenez le développement d'apps sur iOS avec le nouveau langage de programmation moderne d'Apple. On utilisera la dernière version de Swift.</p>
							</div>
						</li>
						<li class="col-4-12">
							<img class="ae-8 fromCenter margin-bottom-3 margin-top-5" src="../assets/img/git-tower3-logo.png" height="200" alt="App 3"/>
							<div class="fix-3-12 ae-9">
								h3.center Tower
								<p class="small center">Vous apprendrez à versionner vos projets avec <strong>git</strong> et <strong>Tower</strong> l'un des meilleurs client git sur Mac, et à collaborer en utilisant des pull-requests sur <strong>GitHub</strong></p>
							</div>
						</li>
					</ul>
				</div>
				<div class="fix-10-12">
					<ul class="grid later">
						<li class="col-4-12">
							<img class="ae-3 fromCenter margin-bottom-3 margin-top-5" src="../assets/img/sketch-logo.png" height="200" alt="Sketchapp logo"/>
							<div class="fix-3-12 ae-4">
								h3.center Sketch
								<p class="small center">Vous utiliserez Sketch, l'outil de conception le plus populaire pour prototyper l'interface utilisateur (UI) de vos applications.</p>
							</div>
						</li>
						<li class="col-4-12">
							<img class="ae-6 fromCenter margin-bottom-3 margin-top-5" src="../assets/img/slack-logo.png" height="200" alt="Slack logo"/>
							<div class="fix-3-12 ae-7">
								h3.center Slack
								<p class="small center">L'outil collaboratif pour communiquer en équipe. Idéal pour organiser et sécuriser les conversations et garder les historiques.</p>
							</div>
						</li>
						<li class="col-4-12">
							<img class="ae-8 fromCenter margin-bottom-3 margin-top-5" src="../assets/img/test-flight.png" height="200" alt="Test Flight logo"/>
							<div class="fix-3-12 ae-9">
								h3.center Test Flight
								<p class="small center">Vous utiliserez Test Flight pour mettre votre projet personnel entre les mains de vos futurs utilisateurs, collecter leurs remarques et émliorer votre app.</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="background" style="background-image:url(assets/img/img-45.jpg)"></div>
</section>
