<section data-name="about" data-title="Détails sur le déroulement de l'atelier" class="slide autoHeight" data-name="about">
	<div class="content">
		<div class="container">
			<div class="wrap">
				<div class="fix-12-12">
					<h2 class="huge ae-1 fromCenter margin-bottom-6">À propos de l'atelier</h2>
					<div class="left cropBottom ae-3">
						p
							| Avez-vous déjà pensé apprendre à programmer, toujours voulu créer une application, mais n'avez jamais pu sauter le pas ou vous y mettre pour n'importe quelle raison.
							//- , vous ne pouviez pas tout à fait y aller.
						p
							| Il y a plusieurs façons d'apprendre à programmer. Certains préfèrent apprendre des livres de programmation. D'autres aiment regarder des cours en ligne. Ou bien pour certaines personnes, les cours en présentiels sont la manière la plus efficace et la plus intéressante d'apprendre.
						p
							| Nous ouvrons des ateliers en présentiels tout au long de l'année pour enseigner à quiconque est intéressé à apprendre le développement d'app en Swift sur iOS.
						h3.uppercase L'apprentissage par la pratique
						p.light
							| Vous apprendrez la programmation en pratiquant, en "faisant" et pas seulement en écoutant un cours. Nos ateliers sont conçus pour mêler théorie et surtout beaucoup de pratique.
							//- On commencera avec notre idée d’application, puis on écrira le code pour créer l’application à partir de zéro en utilisant Xcode et Swift.
						//- p
						//- 	| A chaque étape passe par un quizz pour vérifier que vous avez assimilé les notions du matin et on poursuit avec un mini challenge pour exercer votre autonomie.
						h3.uppercase Conçu pour les débutants
						p
							| Cet atelier est conçu pour les complets débutants souhaitant apprendre à développer des applications en Swift pour iOS. Même si vous n'avez aucune expérience préalable de la programmation, vous apprendrez à créer une application iOS et à comprendre les bases de Swift à la fin de la formation.
						h3.uppercase Des classes à taille humaine
						p.light
							| La taille de chaque session est réduite afin de maximiser les interactions entre les instructeurs et les étudiants. L'atelier est <strong>limité à 10 places</strong>.
						h3.uppercase Apportez votre Mac
						p.light
							| Tout ce dont vous avez besoin est d'<strong>apporter votre propre Mac</strong> avec la <strong>dernière version de Xcode installée</strong> pour assister à la formation. Vous ne savez pas comment installer Xcode ? Pas de soucis, nous vous fournirons un guide simple pour vous aider à démarrer avant la formation et <strong>la première heure de la formation est consacrée à l'installation des outils et à leur découverte</strong>.
						//- h3.uppercase Vous préparer à devenir un développeur d'application mobile sur iOS
						//- p
						//- 	| Cet atelier vous aidera à comprendre ce qu'il faut pour créer une application iOS et vous préparer à devenir un développeur d'application mobile iOS. Cela dit, il est impossible de tout apprendre sur le développement iOS et Swift en un jour. La programmation, comme tout métier, prend des années à maîtriser. Vous ne deviendrez pas un expert en programmation Swift du jour au lendemain. C'est pourquoi vous aurez accès à notre outil de communications privées - Slack - pour continuer à interagir avec nos instructeurs et autres élèves après l'atelier.
						//- p
						//- 	| Vous aurez aussi accès à tous nos autres ateliers, nos cours en ligne et surtout notre Bootcamp pour progesser rapidement et maitriser la programmation.
						h3.uppercase Maintenant ouvert en Guadeloupe
						p
							| Nos ateliers sont disponible en Guadeloupe. A partir de 2019, nous allons ouvrir dans d'autres villes. Si vous voulez savoir quand nos ateliers seront disponibles dans votre ville, <a href="" class="customHover">laissez-nous votre mail</a>. Nous vous alerterons quand nous ouvrirons dans votre ville.
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="background" style="background-image:url(../assets/img/img-25.jpg)"></div>
</section>
