<section data-name="slide-7" data-title="Slide #7" class="slide fade-6 kenBurns">
	<div class="content">
		<div class="container">
			<div class="wrap">

				<div class="fix-12-12">
					<h1 class="huge ae-1 margin-bottom-2">Créez une app de a à z</h1>
					<ul class="flex reverse verticalCenter">
						<li class="col-6-12 left">
							<p class="hero ae-2"><span class="opacity-8">Design is an integ­rat­ive pro­cess that seeks res­ol­u­tion (not com­prom­ise) through cross-disciplinary team­work. Design is&nbsp;inten­tional.</span></p>
							<div class="popupTrigger ae-3 fromRight relative margin-top-3" data-popup-id="76-6">
								<span class="button play white button-76 absolute">
									<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play"></use></svg>
								</span>
								<div class="text-76"><h6 class="uppercase">Watch video</h6><p class="tiny opacity-6">See Slides Framework in action (2:00)</div>
							</div>
						</li>
						<li class="col-6-12 left ae-1 fromAbove">
							<img class="iphone-76" width="802" src="assets/img/iphone-76.png" alt="iPhone Image" data-action="zoom"/>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
	<div class="background" style="background-image:url(assets/img/background/img-76.jpg)"></div>
</section>
