<section data-name="slide-7" data-title="Slide #7" class="slide fade-6 kenBurns whiteSlide">
	<div class="content">
		<div class="container">
			<div class="wrap">

				<div class="fix-12-12">
					<h1 class="huge ae-1 margin-bottom-2">Créez une app de a à z</h1>
					<ul class="flex reverse verticalCenter">
						<li class="col-6-12 left">
							<p class="ae-2"><span class="opacity-8">Apprendre en pratiquant est la meilleure façon d'apprendre la programmation. Vous allez coder une application simple mais belle à partir de zéro. Vous pourrez l'utiliser sur le simulateur iOS ou le déployer sur votre propre iPhone. À la fin de l'atelier, vous pouvez ramener avec vous une application fonctionnelle pour la montrer à vos amis.</span></p>
							<div class="popupTrigger ae-3 fromRight relative margin-top-3" data-popup-id="76-6">
								<span class="button play white button-76 absolute">
									<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play"></use></svg>
								</span>
								<div class="text-76">
									<h6 class="uppercase">Un aperçu de votre futur app</h6>
									<p class="tiny opacity-6">Découvrez ce que vous allez créer (2:00)</p>
								</div>
							</div>
						</li>
						<li class="col-6-12 left ae-1 fromAbove">
							<img class="iphone-76" width="802" src="assets/img/iphone-76.png" alt="iPhone Image" data-action="zoom"/>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
	<div class="background" style="background-image:url(http://res.cloudinary.com/shuttlecoder/image/upload/c_scale,w_1920/c_crop,g_south,w_1920,y_200/l_Overlays:Black_Overlay,o_20/v1537122732/ShuttleCoder/Workshops/startup-website-layout-wireframes-ideas-sketched-on-paper-picjumbo-com.jpg)"></div>
</section>
