<section data-name="slide-8" data-title="Slide #8" class="slide fade-6 kenBurns">
	<div class="content">
		<div class="container">
			<div class="wrap">

				<div class="fix-12-12">
					<h1 class="ae-1 huge fromLeft">How we work</h1>
					<ul class="flex reverse verticalCenter">
						<li class="col-7-12 left cell-26">
							<h1 class="ae-1 fromLeft">How we work</h1>
							<div class="ae-2 fromLeft">
								<p class="opacity-8">An electrician isn't an opinion former, but a graphic designer is. My argument is that all graphic designers hold high levels of responsibility in&nbsp;society.</p>
							</div>
						</li>
						<li class="col-5-12">
							<div class="fix-4-12 center">
								<ul class="slider clickable ae-1 fromAbove" data-slider-id="26-7">
									<li class="selected"><img src="assets/img/watch-26-1.png" alt="Apple Watch Thumbnail"/></li>
									//- <li><img src="assets/img/watch-26-2.png" alt="Apple Watch Thumbnail"/></li>
									//- <li><img src="assets/img/watch-26-1.png" alt="Apple Watch Thumbnail"/></li>
									//- <li><img src="assets/img/watch-26-2.png" alt="Apple Watch Thumbnail"/></li>
								</ul>
								<ul class="controller dots ae-3 fromCenter margin-top-3" data-slider-id="26-7">
									<li class="dot selected"></li>
									//- <li class="dot"></li>
									//- <li class="dot"></li>
									//- <li class="dot"></li>
								</ul>
							</div>
						</li>
					</ul>
				</div>

				<div class="fix-10-12">
					<div class="ae-2"><p class="margin-bottom-3 opacity-8">La journée en détail</p></div>
					<ul class="grid">
						<li class="col-6-12 left ae-3 fromLeft">
							<p class="tiny opacity-6">La session du matin</p>
						</li>
						<li class="col-6-12 left ae-4 fromLeft">
							<p class="tiny opacity-6">La session de l'après-midi</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="background" style="background-image:url(assets/img/background/img-26.jpg)"></div>
</section>
