<div class="popup" data-popup-id="redirect-eventbrite">
	<div class="close">
		<svg>
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
		</svg>
	</div>
	<div class="content">
		<div class="container">
			<div class="wrap">
				<h1 class="small ae-1">Prêt à découvrir la programmation ?</h1>
				<p>Vous allez maintenant être redirigé vers Eventbrite, la plateforme pour traiter le paiement. <br> Vous pouvez payer par cartes bancaires.<br>Une fois que vous êtes dans Eventbrite, cliquez simplement sur <em> S'inscrire </em> pour continuer.</p>
				<a href="https://atelier-swift-20181117.eventbrite.fr" class="button uppercase round red">Réserver votre place sur Eventbrite</a>
				<p class="tiny">Si vous avez des questions, vous pouvez nous contacter sur training@shuttlecoder.academy<br> ou appelez nous au 0652 216 173.</p>
			</div>
		</div>
	</div>
</div>

<div class="popup" data-popup-id="redirect-form-inscription">
	<div class="close">
		<svg>
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
		</svg>
	</div>
	<div class="content">
		<div class="container">
			<div class="wrap">
				<h1 class="small ae-1">Pour devenir développeur, ça commence ici</h1>
				p
					| Vous souhaitez intégrer notre école et devenir développeur d'application mobile iOS/Swift ?
					br
					| Pour cela, il vous faudra démontrer que vous disposez des prérequis.
				//-<p>Vous allez être redirigé vers notre formulaire, which helps us process the payment.<br>You can either pay by Paypal or your preferred credit cards.<br>Once you're in Eventbrite, simply click <em>Get Tickets</em> to proceed.</p>
				<a href="../devenir-etudiant.html" class="button uppercase round red">Continuer vers le formulaire d'inscription</a>
				//-<p class="tiny">If you have any questions, please contact us at support@shuttlecoder.academy<br> or call us at .</p>
			</div>
		</div>
	</div>
</div>
