section
	.container
		.section-content
			.row
				.col-md-6
					img(class="img-fullwidth" src="http://placehold.it/560x345" alt="")
				.col-md-6
					h4.mt-5.mb-15 Le succès arrive quand on agit
					p
						| Mais dans un monde en ligne où les ressources et les astuces commerciales sont omniprésentes, il est souvent difficile de savoir par où commencer et sur quoi agir.
					p.hidden-md
						| Donc, chaque mardi, j'envoie une étape d'action utile dans votre boîte de réception. Chacun prend moins de 15 minutes à mettre en œuvre et est garanti pour grandement bénéficier votre entreprise à long terme.
					p
						| Aucune grande révision ou changement important n'est nécessaire pour développer une activité en ligne réussie. Vous pouvez y arriver une étape d'action utile à la fois.
