section
	.container
		.section-content
			.row
				.col-md-6.col-md-offset-3
					h3.mt-5.mb-15 Pas encore convaincu ?
					p
						| La Newsletter de Shuttle Coder sort tous les mardis matins, mais vous n'avez pas besoin d'attendre jusque là pour voir ce que c'est. Dès que vous aurez cliqué sur "s'abonner", on vous enverra l'astuce la plus récente.
					p.
						Vous pouvez également vous désinscrire de notre liste à tout moment.

