section.bg-silver-light
	.container.pt-70.pb-30
		.section-title
			.row
				.col-md-8.col-md-offset-2
					h2.text-uppercase.title.mb-0 Voici ce que d'autres en disent
					h5.font-16.text-gray-darkgray.mt-5.mb-0 Student and Parents Opinion
					.line-bottom-theme-colored2.pt-10.mb-0
			.row
				.col-md-8.col-md-offset-2
					.col-md-3
						img(alt="" src="http://placehold.it/55x55" class="img-thumbnail img-circle pull-left mr-15 mt-15"  style="max-width: 150;")
					.col-md-9
						.item
							.testimonial.pt-10
								.testimonial-content
									p.mt-0.font-16
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vel sint, ut. Quisquam doloremque minus possimus eligendi dolore ad.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vel sint, ut. Quisquam doloremque minus possimus eligendi dolore ad.Lorem ipsum dolor sit
								.testimonial-details.mb-0.mr-0
									.author-info.pt-15
										h5.mt-10.font-16.mb-0 Prénom Nom
										h6.mt-5 CEO apple.inc
				.col-md-8.col-md-offset-2
					.col-md-3
						img(alt="" src="http://placehold.it/55x55" class="img-thumbnail img-circle pull-left mr-15 mt-15"  style="max-width: 150;")
					.col-md-9
						.item
							.testimonial.pt-10
								.testimonial-content
									p.mt-0.font-16
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vel sint, ut. Quisquam doloremque minus possimus eligendi dolore ad.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vel sint, ut. Quisquam doloremque minus possimus eligendi dolore ad.Lorem ipsum dolor sit
								.testimonial-details.mb-0.mr-0
									.author-info.pt-15
										h5.mt-10.font-16.mb-0 Prénom Nom
										h6.mt-5 CEO apple.inc
