section.bg-white-f7
	.container.pb-0
		.section-title
			.row
				.col-md-8.col-md-offset-2
					.text-center
						h5.sub-title Sub Title Here
						h2.title La newsletter
						p Des actions hebdomadaires dans votre boîte de réception chaque mardi
