section.position-inherit
	.container
		section-title
			.row
				.col-md-6.col-md-offset-3
					.text-center
						h2.title Vous avez des questions ?
		.row
			.col-md-6.col-md-offset-3
				.mb-50
					h4 Puis-je offrir la bibliothèque comme cadeau?
					hr
					p.mb-20
						| Absolument! Les articles de notre bibliothèque font un cadeau fantastique, inattendu (pour ne pas dire bon marché!). Surprenez un entrepreneur ou développeur en lui offrant un abonnement à la bibliothèque
				.mb-50
					h4 À quelle fréquence la bibliothèque est-elle mise à jour?
					hr
					p.mb-20
						| Nous ajoutons un nouvel article à la bibliothèque 3 fois par mois.
				.mb-50
					h4 Suis-je lié par un engagement à long terme?
					hr
					p.mb-20
						| Vous êtes libre de vous abonner et de vous désabonner à la bibliothèque à tout moment.
				.mb-50
					h4 Êtes-vous ouvert pour de nouvelles idées d'ajout d'articles?
					hr
					p.mb-20
						| Nous aimons recevoir des demandes d'abonnés! Si vous avez un modèle imprimé ou un modèle en tête, n'hésitez pas à me contacter.
		.row
			.col-sm-4.col-md-4.col-md-offset-4.text-center
				a(href="//ondemand.shuttlecoder.academy##" class="btn btn-dark btn-theme-colored btn-flat btn-xl mt-20") S'abonner pour 7€
