section
	.container
		.section-content
			.row
				.col-md-6
					img(class="img-fullwidth" src="http://placehold.it/560x345" alt="")
				.col-md-6
					h4.mt-5.mb-15 Qu'est ce que The Library ?
					p
						| Une des missions de Shuttle Coder Academy est d'être une ressource utile pour les développeurs et entrepreneurs en ligne, que ce soit par le biais de contenu de blog, de cours en ligne, de séances de coaching…
					p.hidden-md
						| Ainsi, avec cette mission en tête, nous avons créé une collection pratique disponible en ligne de livrets, de modèles et de fichiers pour aider les entrepreneurs et développeurs à s'organiser et les aider à s'améliorer dans leur apprentissage de la programmation
					p
						| Aucune grande révision ou changement important n'est nécessaire pour développer une activité en ligne réussie. Vous pouvez y arriver une étape d'action utile à la fois.
			.row
				.col-sm-4.col-md-4.col-md-offset-4.text-center
					a(href="//ondemand.shuttlecoder.academy##" class="btn btn-dark btn-theme-colored btn-flat btn-xl mt-20") S'abonner pour 7€
