section(id="features" class="bg-silver-deep")
	.container.pb-50
		.section-title
			.row
				.col-md-8.col-md-offset-2
					.text-center
						h2.title Qu'est ce qu'il y a dedans ?
						p
							| Notre collection de ressources en ligne comprend des modèles de boards, des checklists, des formations technologiques, des livrets sur des thèmes de la programmation et plus encore…
			.row
				.col-xs-12.col-sm-6.col-md-3.mb-30
					.feature-box.bg-silver-light.p-30.pb-20
						.feature-icon.text-center
							img(src="images/icons/2.png" alt="")
						.feature-title
							<p>Des questionnaires complets pour m'aider à vous connaître et à connaître vos objectifs d'affaires</p>
				.col-xs-12.col-sm-6.col-md-3.mb-30
					.feature-box.bg-silver-light.p-30.pb-20
						.feature-icon.text-center
							img(src="images/icons/2.png" alt="")
						.feature-title
							<p>Une session de 90 minutes par mois pour écouter vos hangups et concevoir un plan de jeu utilisable</p>
				.col-xs-12.col-sm-6.col-md-3.mb-30
					.feature-box.bg-silver-light.p-30.pb-20
						.feature-icon.text-center
							img(src="images/icons/2.png" alt="")
						.feature-title
							<p>Un enregistrement vidéo de notre réunion avec 4 actions à réaliser avant notre prochaine session Skype</p>
				.col-xs-12.col-sm-6.col-md-3.mb-30
					.feature-box.bg-silver-light.p-30.pb-20
						.feature-icon.text-center
							img(src="images/icons/2.png" alt="")
						.feature-title
							<p>Un enregistrement hebdomadaire par e-mail pour suivre vos progrès et répondre à vos questions</p>
			.row
				.col-md-8.col-md-offset-2
					p
						| La plupart des éléments sont des fichiers PDF imprimables, mais certains sont des fichiers ePub (comme les livres) ou même des powerpoint et keynote et peuvent être personnalisé.
					p
						| Nous ajoutons de nouveaux articles à la bibliothèque chaque mois, donc la collection est toujours en croissance.
					p
						| The Library est un moyen simple et accessible d'aider les entrepreneurs et développeurs.
			.row
				.col-sm-4.col-md-4.col-md-offset-4.text-center
					a(href="//ondemand.shuttlecoder.academy##" class="btn btn-dark btn-theme-colored btn-flat btn-xl mt-20") S'abonner pour 7€
