<section data-name="dates-notification" data-title="Pour rester informé sur ce workshop" class="slide fade-6 kenBurns whiteSlide">
	<div class="content">
		<div class="container">
			<div class="wrap">

				<div class="fix-10-12">
					<h1 class="huge ae-1 margin-bottom-3">Soyez averti des prochains Bootcamps et Workshops à venir.</h1>
					<p>Si pour n'importe quelle raison vous ne pouvez pas assister à cet atelier, laissez nous votre mail, nous vous informerons chaque fois que nous organiserons un nouvel atelier.</p>
				</div>
				<ul class="">
					li.col-12-12.col-tablet-2-2.col-phablet-1-1
						.fix-6-12
							<script async data-uid="556780ba85" src="https://f.convertkit.com/556780ba85/9e41acc149.js"></script>
					li
						<p class="tiny margin-top-2 ae-4"><span class="opacity-8"><a herf="">Conditions d'utilisation</a> &nbsp;&bull;&nbsp; <a herf="">Politique de confidentialité</a></span></p>
				</ul>
			</div>
		</div>
	</div>
	<div class="background"></div>
</section>
