<section data-name="slide-12" data-title="Slide #12" class="slide fade-6 kenBurns">
	<div class="content">
		<div class="container">
			<div class="wrap">

				<div class="fix-10-12">
					<h1 class="huge ae-1 margin-bottom-3">Soyez averti des Bootcamps et des Workshops à venir.</h1>
					<p>Si pour n'importe quelle raison vous ne pouvez pas assister à cet atelier, laissez nous votre mail, nous vous informerons chaque fois que nous organiserons un nouvel atelier.</p>
				</div>
				<div class="ae-2">

					<form action="#" autocomplete="off" class="slides-form margin-bottom-3">
						<input type="email" class="ae-2 fromLeft" name="email" placeholder="Addresse mail"/>
						<button type="submit" class="button blue gradient ae-3 fromRight" name="submit">Être averti</button>
					</form>
					<p class="tiny ae-4"><span class="opacity-8"><a herf="">Conditions d'utilisation</a> &nbsp;&bull;&nbsp; <a herf="">Politique de confidentialité</a></span></p>
				</div>

			</div>
		</div>
	</div>
	<div class="background" style="background-image:url(assets/img/background/img-94.jpg)"></div>
</section>
