<section data-name="faq" data-title="Les réponses à vos questions" class="slide fade-6 kenBurns">
	<div class="content">
		<div class="container">
			<div class="wrap">

				<div class="fix-12-12">
					<div class="fix-10-12 toCenter">
						<h1 class="huge ae-1">F.A.Q.</h1>
						<p class="hero ae-2"><span class="opacity-8">Vous avez certainement de nombreuses questions. Nous avons pris la liberté de répondre à plusieurs d'entre elles ci-dessous. Si vous avez d'autres questions ou soucis, veuillez nous contacter.</span></p>
					</div>
					<ul class="flex left margin-top-4">
						<li class="col-6-12 margin-bottom-1 ae-3">
							<h3 class="margin-top-1 margin-bottom-2">Je suis un vrai débutant en programmation, est-ce que ce workshop est fait pour moi ?</h3>
							<p class="tiny opacity-6">Nos ateliers/workshops de découverte à la programmation sont précisément et spécialement conçus pour les complets débutants. Vous n'avez besoin d'aucune expérience de programmation préalable, vous pouvez vous inscrire. Ces ateliers sont aussi pour les personnes ayant une certaine expérience en programmation et qui veulent apprendre le développement d'applications iOS.</p>
						</li>
						<li class="col-6-12 margin-bottom-1 ae-5">
							<h3 class="margin-top-1 margin-bottom-2">Ai-je besoin d'un Mac ou d'un iPhone pour suivre l'atelier?</h3>
							<p class="tiny opacity-6">Oui, tous les élèves doivent avoir un ordinateur portable. Nous utiliserons Mac OS X et travaillerons avec Xcode l'environnement de développement d'Apple. Cependant, vous n'avez pas besoin d'avoir un iPhone. Vous pouvez facilement tester votre application en utilisant le simulateur intégré de Xcode.</p>
						</li>
						<li class="col-6-12 margin-bottom-1 ae-4">
							<h3 class="margin-top-1 margin-bottom-2">J'ai moins de 18 ans, puis-je m'inscrire ?</h3>
							<p class="tiny opacity-6">Ce workshop est ouvert à tout le monde. Donc vous êtes le bienvenu</p>
						</li>
						<li class="col-6-12 margin-bottom-1 ae-6">
							<h3 class="margin-top-1 margin-bottom-2">J’ai plus de 40 ans, puis-je m'inscrire ?</h3>
							<p class="tiny opacity-6">Il n'y a pas d'âge pour apprendre la programmation. Tout dépend uniquement de votre curiosité et de votre motivation !</p>
						</li>
						<li class="col-6-12 margin-bottom-1 ae-6">
							<h3 class="margin-top-1 margin-bottom-2">Dois-je m'inscrire au programme pour développeurs Apple qui coûte 99 euros pour tester mon application?</h3>
							<p class="tiny opacity-6">C'est complètement optionnel. Vous pouvez déployer votre application et l'exécuter sur un véritable appareil iOS sans rejoindre le programme. Vous devez rejoindre le programme uniquement si vous souhaitez le publier sur l'App Store.</p>
						</li>
					</ul>
					//- <div class="button blue gradient cropBottom popupTrigger ae-7 fromCenter margin-top-1" data-popup-id="63-10"><i class="material-icons small">play_circle_filled</i>Watch the Video</div>
				</div>

			</div>
		</div>
	</div>
	<div class="background" style="background-image:url(assets/img/background/img-63.jpg)"></div>
</section>
