<section data-name="slide-13" data-title="Slide #13" class="slide fade-6 kenBurns">
	<div class="content">
		<div class="container">
			<div class="wrap">

				<div class="fix-10-12">
					<h1 class="huge ae-1">Cet atelier est organisé par Shuttle Coder et se déroule dans les locaux de …</h1>
					//- <p class="ae-2"><span class="opacity-8">To create anything–whether a short story or a magazine profile or a film or a sitcom–is to believe, if only momentarily, you are capable of&nbsp;magic.</span></p>
					<ul class="grid equal fixedSpaces margin-top-3">
						<li class="col-4-12 ae-3">
							<div class="fix-3-12 equalElement">
								<h6 class="uppercase opacity-4 margin-top-3 margin-bottom-0">Lieu du Workshop</h6>
								<p class=""><a class="opacity-8" href="#">Batiment XXX, Rue XXX, Baie-Mahault Guadeloupe</a></p>
							</div>
							<div class="fix-3-12 equalElement">
								<h6 class="uppercase opacity-4 margin-top-3 margin-bottom-0">Pour y aller:</h6>
								<p class=""><a class="opacity-8" href="#">A 5 min de l'aéroport prendre la direction…</a></p>
							</div>
						</li>
						<li class="col-4-12 ae-4">
							<div class="fix-3-12 equalElement">
								<h6 class="uppercase opacity-4 margin-top-3 margin-bottom-0">Pour plus d'info</h6>
								<p class=""><a class="opacity-8" href="mailto:#">training@shuttlecoder.academy</a></p>
							</div>
							<div class="fix-3-12 equalElement">
								<h6 class="uppercase opacity-4 margin-top-3 margin-bottom-0">Appelez-nous au</h6>
								<p class=""><a class="opacity-8" href="tel:#">(+33)652-216-173</a></p>
							</div>
							<div class="fix-3-12 equalElement">
								<h6 class="uppercase opacity-4 margin-top-3 margin-bottom-0">Devenir partenaire</h6>
								<p class=""><a class="opacity-8" href="mailto:#">partners@shuttlecode.academy</a></p>
							</div>
						</li>
						<li class="col-4-12 ae-5">
							<div class="fix-3-12 equalElement">
								<h6 class="uppercase opacity-4 margin-top-3 margin-bottom-0">Notre blog</h6>
								<p class=""><a class="opacity-8" href="#">…</a></p>
							</div>
							<div class="fix-3-12 equalElement">
								<h6 class="uppercase opacity-4 margin-top-3 margin-bottom-0">Pour rester en contact</h6>
								<ul class="social-circles">
									<li><a class="social-facebook" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook2"></use></svg></a></li>
									<li><a class="social-whatsapp" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#whatsapp"></use></svg></a></li>
									<li><a class="social-youtube" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#youtube"></use></svg></a></li>
									<li><a class="social-linkedin" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin"></use></svg></a></li>
									<li><a class="social-twitter" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg></a></li>
								</ul>
							</div>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
	<div class="background" style="background-image:url(http://res.cloudinary.com/shuttlecoder/image/upload/c_scale,w_1920/l_Overlays:Black_Overlay,o_20/v1537124321/classroom.jpg)"></div>
</section>
