<section data-name="instructor" data-title="Votre formateur" class="slide whiteSlide">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-11-12 toCenter">
          <h1 class="ae-1">Votre formateur</h1>
          <p class="ae-2"><span class="opacity-8">Cet atelier est animé par Dominique Sizam le créateur de Shuttle Coder. Il a développé des applications web pendant plus de 14 ans, et depuis quelques années il développe des applications iOS. En 2018 il crée Shuttle Coder, un organisme de formation entièrement dédié à l'apprentissage de la programmation</span></p>
          <ul class="grid later">
            <li class="col-12-12">
              <img class="ae-6 fromCenter margin-bottom-3 margin-top-5 rounded-circle" src="https://res.cloudinary.com/shuttlecoder/image/upload/c_scale,r_150,w_128/v1536667983/ShuttleCoder/Instructors/instructor-dsizam.png" height="128" alt="Dominique Sizam"/>
              //- <div class="fix-45 ae-7">
              //-   <p class="tiny left"><span class="opacity-6">Step 2. Space and light and order. Those are the things that men.</span></p>
              //- </div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(https://res.cloudinary.com/shuttlecoder/image/upload/c_scale,w_1920/c_crop,g_south,o_40,w_1920,y_207/v1537124842/ShuttleCoder/Workshops/Apple-WWDC-2018-gear-patrol-full-lead.jpg)"></div>
</section>
