doctype

include mixins/_navigation.pug


html(dir="ltr" lang="fr")
	head
		block meta

		block css

	body
		block top-bar

		block navigation

		block hero

		block content

		block pre-footer

		block footer

		block scripts
