doctype

include mixins/_favicons.pug
include mixins/_css.pug
include mixins/_navigation.pug
include mixins/_hero.pug
include mixins/_pre-footer.pug
include mixins/_footer.pug

html(dir="ltr" lang="fr")
	head
		block meta
			include ./includes/_metas.pug

		block title
			title Pas de titre

		block favicons
			+favicons(path)

		block css
			+css(path)

	body(class="has-side-panel side-panel-right fullwidth-page")
		#wrapper.clearfix

			block header
				header(id="header" class="header header-floating")
					.header-nav.navbar-sticky.navbar-sticky-animated
						.header-nav-wrapper
							.container
								+navigation(path)

			block content
				.main-content
					block hero
						+hero()

			block footer
				footer#footer.footer(data-bg-color="#20232E")
					block prefooter
						+prefooter(path)
					block footer-bottom
						+footer(path)
					<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>

		block scripts
