extends ./_layout.pug

include mixins/_formations.pug

append meta
	meta(name="description" content="")
	meta(name="keywords" content="")

block title
	title Shuttle Coder - Nos formations en présentiel

prepend favicons
	- var path = './'

prepend css
	- var path = './'


prepend head-scripts
	- var path = './'

prepend hero
	- var title = 'Nos formations'
	- var image = 'cover.jpg'
	- var path = './images/bgs/'

prepend maincontent
	- var path_courses = "./images/courses/"

block maincontent
	section(id="courses" class="bg-silver-light")
		.container
			.section-title.mb-40
				.row
					.col-md-12
						h2(class="title text-uppercase mb-5") Coding #[span.text-theme-colored2 Bootcamps]
							h5.font-16.mt-5 Nos formations intensives en présentiel
			.section-content
				.row
					+formation("Développeur d'application iOS/Swift", "La formation intensive pour acquérir les bases du développement iOS en Swift et lancer votre projet professionnel.", '16', '360', 'ios-swift.jpg', "./images/courses/", '/bootcamps/developpeur-ios-swift.html', '')

prepend footer
	- var path = './'
