extends ./_layout.pug

include mixins/_hero-alt.pug

append meta
	meta(name="description" content="")
	meta(name="keywords" content="")

block title
	title Shuttle Coder - FAQ

prepend favicons
	- var path = './'

prepend css
	- var path = './'

prepend head-scripts
	- var path = './'

prepend header
	- var path = './'

block header
	header(id="header" class="header header-floating")
		.header-nav.navbar-sticky.navbar-sticky-animated
			.header-nav-wrapper
				.container
					+navigation(path)

prepend hero
	- var title = 'FAQ'
	- var image = 'cover.jpg'
	- var path = './images/bgs/'

block maincontent
	include includes/fr/_faq.pug

prepend footer
	- var path = './'

//-block scripts
