extends ./_layout.pug

include mixins/_hero.pug

append meta
	meta(name="description" content="")
	meta(name="keywords" content="")

block title
	title L'initiation à la programmation pour tous - Shuttle Coder

prepend favicons
	- var path = './'

prepend css
	- var path = './'


prepend head-scripts
	- var path = './'

prepend header
	- var path = './'

prepend hero
	- var title = 'Mentions légales'
	- var image = 'home-cover.jpg'
	- var path = './images/bgs/'

block hero
	+hero(title, 'home-cover.jpg', './images/bgs/')

block maincontent
	include includes/fr/home/_features.pug

prepend footer
	- var path = './'

//-block scripts
	//- Footer Scripts -->
	//- JS | Chart-->
	//-<script src="js/chart.js"></script>
	//- JS | Custom script for all pages -->
	//<script src="js/custom.js"></script>

	//- SLIDER REVOLUTION 5.0 EXTENSIONS
			(Load Extensions only on Local File Systems !
				The following part can be removed on Server for On Demand Loading) -->
	//-<script src="js/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script>
	//-<script src="js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script>
	//-<script src="js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
	//-<script src="js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
	//-<script src="js/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script>
	//-<script src="js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script>
	//-<script src="js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
	//-<script src="js/revolution-slider/js/extensions/revolution.extension.video.min.js"></script>


