extends ./_layout.pug

append meta
	meta(name="description" content="")
	meta(name="keywords" content="")

block title
	title The Library - Shuttle Coder

prepend favicons
	- var path = './'

prepend css
	- var path = './'


prepend head-scripts
	- var path = './'

prepend header
	- var path = './'

prepend hero
	- var title = 'The Library'
	- var image = 'cover.jpg'
	- var path = './images/bgs/'

block maincontent
	include includes/fr/bibliotheque/_main-content.pug
	include includes/fr/bibliotheque/_what-in-it.pug

prepend footer
	- var path = './'
