extends ./_layout.pug

append meta
	meta(name="description" content="")
	meta(name="keywords" content="")

block title
	title L'initiation à la programmation pour tous - Shuttle Coder

prepend favicons
	- var path = './'

prepend css
	- var path = './'


prepend head-scripts
	- var path = './'

prepend header
	- var path = './'

prepend hero
	- var title = 'Mentions légales'
	- var image = 'cover.jpg'
	- var path = './images/bgs/'

block maincontent
	section
		.container
			include includes/fr/mentions-legales/_editeur.pug
			include includes/fr/mentions-legales/_directeur-publication.pug
			include includes/fr/mentions-legales/_contact.pug
			include includes/fr/mentions-legales/_cnil.pug


prepend footer
	- var path = './'
