extends ./_layout.pug

include mixins/_formations.pug

append meta
	meta(name="description" content="")
	meta(name="keywords" content="")

block title
	title Shuttle Coder - Nos formations

prepend favicons
	- var path = './'

prepend css
	- var path = './'


prepend head-scripts
	- var path = './'

prepend hero
	- var title = 'Nos formations'
	- var image = '1920x1280'
	- var path = 'http://placehold.it/'

block maincontent
	+formation('Développeur', 'description', '10', '360', '360x250', 'http://placehold.it/', 'programme-developpeur-ios-swift.html', '')

prepend footer
	- var path = './'
