extends ./_layout.pug

append meta
	meta(name="description" content="")
	meta(name="keywords" content="")

block title
	title Shuttle Coder - Nos formations

prepend favicons
	- var path = './'

prepend css
	- var path = './'


prepend head-scripts
	- var path = './'

prepend hero
	- var title = 'Nos formations'
	- var subtitle = '2 mois pour devenir développeur(se) mobile'
	- var image = '1920x1280'
	- var path = './'

block maincontent

prepend footer
	- var path = './'
