extends ./_layout.pug

include mixins/_course-details.pug

append meta
	meta(name="description" content="")
	meta(name="keywords" content="")

block title
	title L'initiation à la programmation pour tous - Shuttle Coder

prepend favicons
	- var path = './'

prepend css
	- var path = './'


prepend head-scripts
	- var path = './'

prepend hero
	- var title = 'iOS / Swift'
	- var subtitle = '2 mois pour devenir développeur(se) mobile'
	- var image = 'cover.jpg'
	- var path = './images/bgs/'

block maincontent
	- var path = "./images/teachers/"
	- var title = "Développeur d'application mobile iOS/swift"
	- var formateurs = ["Dominique SIZAM","Formateur Swift/iOS", "dominique-sizam.jpg"]
	- var sessions = ["15 juin 2018 - 21 septembre 2018", "30 septembre 2018 - 8 octobre 2018"]
	- var prix = "4500€"
	- var description = "ceci est une description"
	- var places = "10"
	+course-details(path, title, formateurs, prix, description, sessions, places)
	//include includes/fr/_programme-ios-swift.pug
	//include includes/fr/_cv.pug
	//include includes/fr/_journee-type.pug

prepend footer
	- var path = './'
