mixin head-scripts(path)
	//- external javascripts
	script(src=path+"js/jquery-2.2.4.min.js")
	script(src=path+"js/jquery-ui.min.js")
	script(src=path+"js/bootstrap.min.js")
	script(defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
	//- JS | jquery plugin collection for this theme
	script(src=path+"js/jquery-plugin-collection.js")

