mixin hero(title, image, path)
	section(id="home" class="divider parallax layer-overlay overlay-dark-6" data-stellar-background-ratio="0.5" data-bg-img=path+image)
		.display-table
			.display-table-cell
				.container.pt-100.pb-50
					.row
						.col-md-12.text-center
							.pt-40.pb-10
								h4.text-white.font-24.font-weight-500.mt-0.mb-0 Shuttle Coder - Coding Bootcamps
					.row
						.col-md-12.text-center
							.pt-60.pb-30
								h2.text-white.font-48.font-weight-700.mt-0.mb-0 Inventez le futur : <span class="text-theme-colored2"> apprenez à coder</span>
					.row
						.col-md-12.text-center
							.pt-60
								a(class="btn btn-xl btn-transparent btn-default btn-lg mt-15 mr-15 pr-40 pl-40" href="./devenir-etudiant.html") Postuler pour 9 semaines de formation

mixin hero-main(imagebg)
	section(data-name="hero" data-title="" class="exclude slide fade-6 kenBurns fromRight")
		.content
			.container
				.wrap
					.fix-7-12.toCenter.ae-1
						p.opacity-7 Shuttle Coder - Coding Bootcamps
						h1.ae-2.crop.margin-bottom-2 Inventez le futur : <span class="text-blue">apprenez à coder</span>
		div(class="background" style="background-image:url("+imagebg+")")


mixin hero-standard(title, description, imagebg)
	section(data-name="hero" data-title="" class="exclude slide fade-6 kenBurns fromRight")
		.content
			.container
				.wrap
					.fix-7-12.toLeft.left.ae-1
						h1.ae-2.text-blue.crop.margin-bottom-2= title
						p.opacity-7= description
		div(class="background" style="background-image:url("+imagebg+")")
