mixin hero(title, image, path)
	section(id="home" class="divider parallax layer-overlay overlay-dark-6" data-stellar-background-ratio="0.5" data-bg-img=path+image)
		.display-table
			.display-table-cell
				.container.pt-100.pb-50
					.row
						.col-md-12.text-center
							.pt-40.pb-10
								h4.text-white.font-24.font-weight-500.mt-0.mb-0 Shuttle Coder - Coding Bootcamp
					.row
						.col-md-12.text-center
							.pt-60.pb-30
								h2.text-white.font-48.font-weight-700.mt-0.mb-0 Find Your : <span class="text-theme-colored2"> apprenez à coder</span>
					.row
						.col-md-12.text-center
							.pt-60
								a(class="btn btn-xl btn-transparent btn-default btn-circled btn-lg mt-15 mr-15 pr-40 pl-40" href=path+"devenir-etudiant.html") Postuler pour 9 semaines de formation
