mixin hero-alt(title, image, path)
	section.inner-header.divider.layer-overlay.overlay-theme-colored-7(data-bg-img=path+image)
		.container.pt-120.pb-60
			.section-content
			.row
				.col-md-6
					h2.text-theme-colored2.font-36= title
