mixin megamenu(path)
	<a href="javascript:void(0)">Les programmes</a>
	<div class="megamenu">
		<div class="megamenu-row">
			.col2

			.col3
				ul.list-unstyled
					li
						h4.text-uppercase En présentiel
					li
						a(class="btn btn-colored btn-flat btn-theme-colored mt-15 mt-sm-10 pt-10 pb-10 ajaxload-popup" href=path+"programme-developpeur-ios-swift.html") iOS/Swift (9 semaines)

			.col3
				ul.list-unstyled
					li
						h4.text-uppercase En ateliers

			.col3.list-unstyled
				ul.list-unstyled
					li
						h4.text-uppercase En ligne
					li &nbsp;
			.col1

		</div>
	</div>
</li>
