mixin prefooter(path)
	.container.pt-60.pb-20
		.col-md-12
			h2.text-center.text-uppercase Devenir développeur en 3 mois
		.col-md-6.col-md-offset-1
			.widget-dark
				p.mt-20
					| Shuttle Coder vous propose une aventure de 3 mois, soit plus de 700h de formation.
				p
					| La formation peut être financée grâce à de nombreux dispositifs : CPF, CIF, AIF de Pôle Emploi, fonds d'assurance formation, régions, etc. Les coûts de la formation sont de 4500 euros, et peuvent être pris en charge partiellement ou intégralement sur étude de votre dossier.
				p
					| Pour faire le point sur votre situation, savoir si vous êtes fait pour notre formation et étudier vos possibilités de financement, contactez la team Shuttle Coder.
		.col-md-4
			h3 Nos date de formation
			ul.list-unstyled
				li
					span 30 avril 2018 - 3 octobre 2018
				li
					span 30 avril 2018 - 3 octobre 2018

		.col-md-12.text-center
			a(href=path+"devenir-etudiant.html" class="btn btn-colored btn-theme-colored btn-xl text-uppercase mt-15 mt-sm-10 pt-10 pb-10") ça m'intéresse
