mixin testimonials()
	section(class="layer-overlay overlay-theme-colored-9 parallax" data-bg-img="")
		.container.pt-90.pb-70
			.section-title.text-center
				.row
					.col-md-8.col-md-offset-2
						h2.text-uppercase.text-white.title Ce que disent<span class="text-theme-colored2"> nos élèves</span>
						.line-bottom-centered
				.row
					.col-md-10.col-md-offset-1
						.owl-carousel-1col.nav-testimonials(data-dots="true")
							.item
								.testimonial-wrapper.text-center
									.content.pt-10
										p.font-17.text-white.font-weight-300 Je n'ai jamais pensé que ce serait aussi facile. Je n'ai jamais codé pour iOS.<br>Mais Shuttle Coder rend tout ça facile à comprendre, ce cours est clair et précis.
										.thumb.mt-30
											img(class="img-circle img-thumbnail mb-15" alt="" src="../images/students/herve-r.jpg" width="72")
										h5.author.text-white.mt-0.mb-5 Hervé R. - <span class="text-theme-colored2 font-14">Développeur Java</span>
										p.text-gray-darkgray 18 Avril 2018
							.item
								.testimonial-wrapper.text-center
									.content.pt-10
										p.font-17.text-white.font-weight-300 Super formation de deux jours. Elle est passée vite mais j'ai appris tout ce dont j'ai besoin<br>pour commencer à me lancer dans l'univers de la programmation.
										//-.thumb.mt-30
											img(class="img-circle img-thumbnail mb-15" alt="" src="http://placehold.it/55x55" width="72")
										h5.author.text-white.mt-0.mb-5 Annick G. - <span class="text-theme-colored2 font-14">Chargé de com</span>
										p.text-gray-darkgray 18 Avril 2018
							.item
								.testimonial-wrapper.text-center
									.content.pt-10
										p.font-17.text-white.font-weight-300 Le formateur introduit rapidement les bases et on plonge directement dans le développement de l'application,<br>ce qui est idéal pour ceux qui apprennent par la pratique.
										.thumb.mt-30
											img(class="img-circle img-thumbnail mb-15" alt="" src="../images/students/hary-g.jpg" width="72")
										h5.author.text-white.mt-0.mb-5 Hary G. - <span class="text-theme-colored2 font-14">Infographiste</span>
										p.text-gray-darkgray 18 Avril 2018
				//-.row
					.col-md-8.col-md-offset-2
						.pt-60
							a(class="btn btn-xl btn-transparent btn-default mt-15 mr-15 pr-40 pl-40" href="./testimonials.html") Voir plus de témoignages
